
/***************************************************************************************
Application: JS-Engine
Build: 2014-10-15 03:45:47
Build Number: 48_sb
***************************************************************************************/
@charset "utf-8";


/*--------------------
APP UTILS
--------------------*/
body.hide-until-app-initialised #itk-wrapper,
body.ae-hide-until-app-initialised #itk-wrapper
{
	display:none;
}

html.no-extv-commissioned .hide-on-no-extv-commissioned,
html.ae-no-extv-commissioned .ae-hide-on-no-extv-commissioned
{
	display:none;
}

div#element-masker,
div#ae-element-masker
{
	background:transparent;
	display:none;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:2147483647;
}

html.positionfixed div#element-masker,
html.positionfixed div#ae-element-masker
{
	position:fixed;
}


/*--------------------
PSEUDO PAGE UTILS
--------------------*/
.hide,
.ae-hide
{
	display:none;
}

.show,
.ae-show
{
	display:block;
}


/*--------------------
SERVICE BLOCKING
--------------------*/
.ae-ifapi-services-svcPedAOD-disabled .ae-ifapi-services-svcPedAOD-state-dependent,
.ae-ifapi-services-svcPedVOD-disabled .ae-ifapi-services-svcPedVOD-state-dependent,
.ae-ifapi-services-svcUser001-disabled .ae-ifapi-services-svcUser001-state-dependent,
.ae-ifapi-services-svcUser002-disabled .ae-ifapi-services-svcUser002-state-dependent,
.ae-ifapi-services-svcUser003-disabled .ae-ifapi-services-svcUser003-state-dependent,
.ae-ifapi-services-svcUser004-disabled .ae-ifapi-services-svcUser004-state-dependent,
.ae-ifapi-services-svcUser005-disabled .ae-ifapi-services-svcUser005-state-dependent,
.ae-ifapi-services-svcUser006-disabled .ae-ifapi-services-svcUser006-state-dependent,
.ae-ifapi-services-svcUser007-disabled .ae-ifapi-services-svcUser007-state-dependent,
.ae-ifapi-services-svcUser008-disabled .ae-ifapi-services-svcUser008-state-dependent
{
	cursor:default !important;
	pointer-events:none !important;
}


/*--------------------
SWIPER
--------------------*/
/*
* Swiper - Mobile Touch Slider CSS
* http://www.idangero.us/sliders/swiper
*
* Vladimir Kharlampidi, The iDangero.us
* http://www.idangero.us/
*
* Copyright 2012, Vladimir Kharlampidi
* The iDangero.us
* http://www.idangero.us
*
* Licensed under GPL & MIT
*
*/

.swiper-container,
.ae-swiper-container
{
	margin:0 auto;
	overflow:hidden;
	position:relative;
	z-index:1;

	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

.swiper-wrapper,
.ae-swiper-wrapper
{
	position:relative;
	width:100%;

	left: 0px;
	top: 0px;

	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}

.swiper-slide,
.ae-swiper-slide
{
	float:left;
}

.swiper-wp8-horizontal,
.ae-swiper-wp8-horizontal
{
	-ms-touch-action:pan-y;
}

.swiper-wp8-vertical,
.ae-swiper-wp8-vertical
{
	-ms-touch-action:pan-x;
}


/*--------------------
SWIPER: PLUGIN EXTENSION: NAVIGATION
--------------------*/
.ae-swiperNav
{
	background:rgba(0,0,0,0.8);
	border:0;
	color:transparent;
	cursor:pointer;
	height:100%;
	position:absolute;
	text-indent:-9999;
	top:0;
	width:20px;
	z-index:5;
}

.ae-swiperNav-nxt
{
	right:0;
}

.ae-swiperNav-prv
{
	left:0;
}

.ae-swiperIndicators
{
	bottom:15px;
	cursor:pointer;
	height:15px;
	position:absolute;
	text-align:center;
	width:100%;
	z-index:1;
}

.ae-mod-swiperInd
{
	background-color:rgb(131,131,131);
	background-color:rgba(255,255,255,.6);
	border-radius:50%;
	-webkit-border-radius:50%;
	display:inline-block;
	height:15px;
	margin-left:7px;
	width:15px;
}

.ae-mod-swiperInd:first-child
{
	margin-left:0;
}

.ae-swiper-activeslide-switch
{
	background-color:rgb(255,255,255);
}

.ae-swiper-nxtBtn
{
    position: relative;
    
}
.ae-swiper-prvBtn
{
    position: relative;
    
}



/*--------------------
ScrollPane
--------------------*/

.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
  position: absolute;
}

.jspVerticalBar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red;
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
  margin: 0;
  padding: 0;
}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack
{
  background: #dde;
  position: relative;
}

.jspDrag
{
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}

.jspArrow
{
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow
{
  height: 16px;
}

.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

.jspCorner
{
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}


/*--------------------
Clouds
--------------------*/


.ae-clouds body.ae-page-active-home
{
    background-image:linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    background-image:-o-linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    background-image:-moz-linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    background-image:-webkit-linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    background-image:-ms-linear-gradient(bottom,#4584b4 28%,#1f4778 64%);
    color: #eee;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    line-height: 16px;
    min-height:100%;
    text-shadow: 0 -1px 0 rgba(0,0,0,.6);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.28, rgb(69,132,180)), color-stop(0.64, rgb(31,71,120)))
}

.widget[data-type=Clouds]
{
    display: none;
}
.ae-page-active-home .widget[data-type=Clouds]
{
    display: block;
    position: absolute;
    position: fixed;
}

.ae-clouds #viewport {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.ae-clouds .cloud-container
{
    bottom: 0;
    left:0;
    overflow: hidden;
    position: fixed;
    right: 0%;
    top: 0;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ae-clouds .cloud-bg {
    background: url(../img/clouds/cloud-distance.png) repeat-x 0 50%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-perspective: 1000;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-animation: cloudMove 20s linear infinite both;
    -moz-animation: cloudMove 20s linear infinite both;
    -ms-animation: cloudMove 20s linear infinite both;
    -o-animation: cloudMove 20s linear infinite both;
    animation: cloudMove 20s linear infinite both;
}

.ae-clouds .cloud-bg2 {
    background: url(../img/clouds/cloud-distance2.png) repeat-x 0 55%;

    -webkit-animation: cloudMove 20s 7s linear infinite both;
    -moz-animation: cloudMove 20s 7s linear infinite both;
    -ms-animation: cloudMove 20s 7s linear infinite both;
    -o-animation: cloudMove 20s 7s linear infinite both;
    animation: cloudMove 20s 7s linear infinite both;
}

.ae-clouds .cloud-bg3 {
    background: url(../img/clouds/cloud-distance2.png) repeat-x 200px 45%;

    -webkit-animation: cloudMove 20s 14s linear infinite both;
    -moz-animation: cloudMove 20s 14s linear infinite both;
    -ms-animation: cloudMove 20s 14s linear infinite both;
    -o-animation: cloudMove 20s 14s linear infinite both;
    animation: cloudMove 20s 14s linear infinite both;
}

@keyframes "cloudMove" {
 0% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 }

30%,60% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
 }

}

@-moz-keyframes cloudMove {
 0% {
   -moz-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
   filter: alpha(opacity=0);
   opacity: 0;
 }

30%,60% {
    filter: alpha(opacity=100);
    opacity: 1;
}
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
   -moz-transform: scale(1.3);
   transform: scale(1.3);
 }

}

@-webkit-keyframes "cloudMove" {
 0% {
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
   filter: alpha(opacity=0);
   opacity: 0;
 }

30%,60% {
    filter: alpha(opacity=100);
    opacity: 1;
}
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(1.3);
   transform: scale(1.3);
 }

}

@-ms-keyframes "cloudMove" {
 0% {
   -ms-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }

30%,60% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -ms-transform: scale(1.3);
   transform: scale(1.3);
 }

}

@-o-keyframes "cloudMove" {
 0% {
   -o-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
   filter: alpha(opacity=0);
   opacity: 0;
 }

30%,60% {
    filter: alpha(opacity=100);
    opacity: 1;
}
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
   -o-transform: scale(1.3);
   transform: scale(1.3);
 }

}


.ae-clouds #world
{
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right:0;
    margin-left:0;
    margin-top: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ae-clouds #world div
{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ae-clouds .cloudBase
{
    opacity:0;   
    position: absolute;
    left: 512px;
    top: 256px;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
     -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}

.ae-clouds .active .cloudBase
{
    opacity:1;
}

.ae-clouds .cloudLayer
{
    background: transparent; /* needs this else doesn't display in iOS safariÂ */
    position: absolute;
    z-index:10;
    left: 50%;
    top: 50%;
    width: 256px;
    height: 256px;
    margin-left: -128px;
    margin-top: -128px;
    opacity:0;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}

.ae-clouds .portal
{
    background: #eaeaea;
    border:1px solid #aaa;
    width:768px;
    margin:100px auto;
    height:1000px;
    position: relative;
    z-index: 3;
    display: none;
}/**################################################
##
##   project:    awsAccordion - a vertical/horizontal accordion plugin for jQuery
##   author:     @anotherwebstorm
##   demo:       code.anotherwebstorm.com/apps/awsaccordion.html
##   Version:    1.0
##   Copyright:  (c) 2012-2013 Marco Cardoso
##
################################################**/

/*##IMPORT AWESOME FONT ICONS##*/
  /*Refer to http://fortawesome.github.com/Font-Awesome/#all-icons to check all icons */


/*##VERTICAL ACCORDION##*/
.accordion-ver>ul , .accordion-hor>ul{
  margin: 0 auto;
  padding: 0;
  list-style:none;
} 
.accordion-ver>ul>li {
  display:block;
  margin: 0;
  list-style:none;
  clear: left;
  position: relative;
  width: 100%;
  border-bottom:#f0f0f0 1px solid;
  background:#cccccc;
  *margin-bottom: -4px; /* IE6 e IE7 */
}
.accordion-ver>ul>li:hover {
  cursor:pointer;
}
.accordion-ver>ul>li.last {
  border: 0;
}  
.accordion-ver>ul>li>h1 {
  position: absolute;
  display:block;
  float:left;
  margin: 0;
  padding: 0 0 0 10px;
  top: 0;
  left: 0;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration:none;
  text-transform:uppercase;
  color: #000;
}
.accordion-ver>ul>li>h1:hover {
  cursor:pointer;
} 
.accordion-ver>ul>li>div {
  display:none;
  background: #666;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}
.accordion-ver:hover>ul>li:hover>div {
  cursor: default;
} 
.accordion-ver>ul>li>div>span {
  padding:10px;
  display: block;
  text-align: left !important;
  line-height: normal;
}
.accordion-ver>ul>li>span.numericTab {
  position: absolute;
  display:block;
  top: 0;
  padding: 0 10px 0 0;
  float:right;
  margin: 0;
  right: 0;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration:none;
  color: #000;
  background:#cccccc;  
}
.accordion-ver>ul>li>i {
  position: absolute;
  display:block;
  top: 0;
  right: 0;
  padding: 0 10px 0 0;
  float:right;
  margin: 0;
  font-size: 18px;
  text-decoration:none;
  color: #000;
}

/*##HORIZONTAL ACCORDION##*/
.accordion-hor>ul>li {
  display:block;
  margin: 0;
  list-style:none;
  overflow: hidden;
  float:left;
  padding: 0;
  position: relative;
  border-right:#f0f0f0 1px solid;
  background:#cccccc;
}
.accordion-hor>ul>li:hover {
  cursor:pointer;
}
.accordion-hor>ul>li.last {
  border: 0;
} 
.accordion-hor>ul>li>h1 {
  position: absolute;
  display:block;
  float:left;
  /*margin-top: 0;*/
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  top: 30px;
  text-align: left;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration:none;
  text-transform:uppercase;
  color: #000;

  /* CSS3 Transform Rotate & Translate for H1 */
  white-space:nowrap;
  -moz-transform: rotate(90.0deg) translate(-40px,0px);  /* FF3.5+ */
  -moz-transform-origin: 0 100%;
  -o-transform: rotate(90.0deg) translate(-40px,0px);  /* Opera 10.5 */
  -o-transform-origin: 0 100%;
  -webkit-transform: rotate(90.0deg) translate(-40px,0px);  /* Saf3.1+, Chrome */
  -webkit-transform-origin: 0 100%;
  transform: rotate(90.0deg) translate(-40px,0px);  /* Saf3.1+, Chrome */
  transform-origin: 0 100%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)"; /* IE8 */ 
}
.accordion-hor>ul>li>h1:hover {
  cursor:pointer;
}
.accordion-hor>ul>li>div {
  position:relative;
  display:block;
  float:left;
  overflow: hidden;
  *top:0px;       /* IE7 Hack */
  *left:0px;      /* IE7 Hack */
  margin:0;
  background: #666;
  font-family: Helvetica, Arial, sans-serif;
}
.accordion-hor:hover>ul>li:hover>div {
  cursor: default;  
}
.accordion-hor>ul>li>div>span {
  padding:10px;
  display: block;
  text-align: left !important;
  line-height: normal;
}
.accordion-hor>ul>li>span.numericTab {
  position: absolute;
  display:block;
  bottom: 0;
  padding: 10px 0;
  float:left;
  margin: 0;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration:none;
  text-align: center;
  color: #000;
  background:#cccccc;  
}
.accordion-hor>ul>li>i {
  position: absolute;
  display:block;
  bottom: 0;
  padding: 10px 0;
  float:left;
  margin: 0;
  font-size: 18px;
  text-decoration:none;
  color: #000;  
}/*
 *
 * Default CSS for UberAccordion
 * Velti(c) 2013
 *
 */

.uberAccordion {
   padding: 0;
}

.uberAccordion > li {
    list-style: none;
    margin: 0;
}

.uberAccordion > li > h1 {
    background-color: #e3e3e3;
    margin: 0;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.uberAccordion > li > div {
    background-color: #aaa;
    padding: 15px;
}


/* Default CSS for sub-accordion */

.uberAccordion .uberAccordion > li > h1 {
    font-size: 12px;
    padding: 5px;
}

.uberAccordion .uberAccordion > li > div {
   background-color: #666666;
   color: #FFF;
}


/* Default CSS for vertical orientation */

.uberAccordion.accordion-vertical {
    height: 300px;
}

.uberAccordion .uberAccordion.accordion-vertical {
    height: 260px;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 503;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  top: 0;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: solid transparent; }
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  opacity: 0.8;
  border-top-width: 12px;
  border-bottom-width: 12px;
  top: 8px; }
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 20px;
  border-bottom-width: 20px; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 12px solid black;
    left: 5px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    border-right: 20px solid white; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 12px solid black;
    left: 3px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 20px solid white; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

.mfp-iframe-holder .mfp-close {
  top: -43px; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.mfp-figure {
  line-height: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-break: break-word;
  padding-right: 36px; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; } }
@media all and (max-width: 800px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
/*
 * Swiper 1.5 - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
 * Updated on: October 1, 2012
*/

/* Swiper Styles */
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	
	-ms-transition-property:-ms-transform;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
	
}
.swiper-slide {
	float:left;
	-webkit-transform:translate3d(0,0,0);
}


