<!-- Contact -->
<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB">&nbsp;
    </a>
  </div>
  <p class="ds-text">Contact</p>
</div>

<section id="garuda-termsAndConditionsPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Contact</div>
  <div class="garuda-intCommonText garuda-font12">
    <p class="ds-text">To contact us concerning the internet service can be through TELKOM customer care at
        +62-21-3863000</p>
    <p>&nbsp;</p>
  </div>
</section>

<!-- End Contact -->