<!-- Error -->
<div id="garuda-headMainTitle" class="garuda-font16">

</div>

<section id="garuda-termsAndConditionsPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle">&nbsp;</div>
  <div class="garuda-intCommonText garuda-font12">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p id="garuda-serviceUnavailable" class="ds-text">This service is temporarily unavailable. Please try again later</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div id="garuda-homeLink">
      <a href="#"><img src="../project_media/portal_media/img/mobile/er_icon_home.png" alt="homeLink" /></a>
      <p class="ds-text">Home</p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>

<!-- End Faq -->