<!-- Faq -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB">&nbsp;
    </a>
  </div>
  <p class="ds-text">FAQ</p>
</div>

<section id="garuda-termsAndConditionsPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">FAQ</div>
  <div class="garuda-intCommonText garuda-font12">
    <dl>
        <dt class="ds-text">	What kind of devices can I use? </dt>
        <dd class="ds-text">	Any wireless LAN-compatible device, including laptop computers, smartphones, and tablet devices, can be used with Garuda Inflight Connectivity which exclude GSM, 3G, and GPRS. When you want to use WiFi connection please make sure to turn off GSM, 3G, and GPRS.</dd>

        <dt class="ds-text">	What can I do with the service? </dt>
        <dd class="ds-text">	Garuda Inflight Connectivity enables you to enjoy the same internet environment you enjoy in your everyday life, including access to Web sites, sending and receiving mail, and the ability to update your social media networks. The service is also compatible with Virtual Private Networks (VPNs), giving you in-flight access to corporate mail and intranets.</dd>

        <dt class="ds-text">	When is the Wi-Fi service available? </dt>
        <dd class="ds-text">	Garuda Inflight Connectivity is available any time during your flight, from the post-takeoff announcement of start of service through the pre-landing announcement prohibiting use of electronic devices. The Aviation Law prohibits electronic devices from being turned on during takeoff and landing. Please be sure to turn off any electronic devices you may have been using prior to landing. </dd>
        <dd class="ds-text">	Please switch off restricted electronic devices when cabin attendants request you to do so after passenger entry door is closed. Also, please switch off electronic devices in your checked baggage. </dd>
        <dd class="ds-text">	*During flight: From the time the seat belt sign is turned off or when the announcement allowing the use of electronic devices is made, to the time announced before landing that the use of electronic devices is prohibited. </dd>


        <dt class="ds-text">	What is the connection speed of the in-flight internet service? </dt>
        <dd class="ds-text">	As with normal wireless LAN access points, actual connection speeds will vary depending on the number of people using the service.</dd>

        <dt class="ds-text">	What classes of service offer in-flight internet access?
        <dd class="ds-text">	Garuda Inflight Connectivity is available in all classes of service.</dd>

        <dt class="ds-text">	Payment </dt>
        <dd class="ds-text">	Payment is accepted by credit card. Users who are members of one of the public wireless LAN services listed here can log in using their membership ID and password, and will be billed for the amount of time spent using the Garuda Inflight Connectivity service. </dd>

        <dt class="ds-text">	How much does the service cost? </dt>
        <dd class="ds-text">	For payment by credit card, Garuda Inflight Connectivity is available at either $11.95 per hour, or $21.95 for 24 hours.</dd>

        <dt class="ds-text">	Why is it possible to use a wireless LAN system in-flight? </dt>
        <dd class="ds-text">	The safety of our wireless LAN system has been verified through testing, and the system approved for use under the Aviation Law except during takeoff and landing. However, use of devices in ad hoc mode (a type of wireless LAN communications in which two or more wireless LAN-enabled devices communicate directly with one another without going through an access point) remains prohibited.</dd>

        <dt class="ds-text">	How secure is the in-flight internet service? </dt>
        <dd class="ds-text">	Although in-flight internet service offers the same security as with any ordinary access point, we recommend that users have the appropriate firewall, anti-virus, and other software installed on their devices. </dd>

        <dt class="ds-text">	Is it possible to switch between devices (e.g. from laptop to smartphone) using the same purchased session? </dt>
        <dd class="ds-text">	You are able to access Garuda Inflight Connectivity with your user sign-in for different devices of course. For example, if your laptop's battery is low, you can easily switch to your smartphone and vice versa. </dd>

        <dt class="ds-text">	Why is my transmission being interrupted or disabled?</dt>
        <dd class="ds-text">	This may be due to several reasons. If the aircraft is operating on a route that is above a certain degree of latitude, it may be outside the satellite's reach. Another reason could be that the aircraft is not above the minimum altitude of 10,000 ft, which automatically disables the antenna. A further problem could be the occurrence of extreme weather conditions like strong thunderstorms. It could also be a technical problem with the Garuda Inflight Connectivity system itself.</dd>


    </dl>
  </div>
</section>

<!-- End Faq -->