<!-- Landing Page -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <p class="ds-text">Welcome On Board</p>
</div>

<section id="garuda-landingPage" class="garuda-generalBackground garuda-commonPages">
  <div id="garuda-connection">
    <a class="ae-comp current" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB">
      <div id="garuda-connectNow">
        <div id="garuda-wirelessIcon" class="itk-navigation">
          <img src="../project_media/portal_media/img/mobile/hp_icon_wireless.png" alt="wirelessIcon" />
        </div>
        <p class="garuda-titleConnect">Connect Now!</p>
      </div>
    </a>
    <a class="btn btn-cta-primary ae-comp garuda-blue-color" target="_blank" data-type="JSEngine.CaptchaURL" data-captcha-page="captcha" href="http://gff.garuda-indonesia.com">
      <div id="garuda-GAWebsite" >
        <div id="garuda-GAIcon" class="itk-navigation">
          <img src="../project_media/portal_media/img/mobile/hp_icon_website.png" alt="GAIcon" />
        </div>
        <p class="garuda-titleConnect">GA Website</p>
      </div>
    </a>
  </div>

  <div id="garuda-navigation" class="itk-navigation">
    <a href="#intenet-service-page" class="garuda-navigationElement">
      <div class="garuda-generalIcon">
        <img src="../project_media/portal_media/img/mobile/hp_icon_internet.png" alt="internetIcon" />
      </div>
      <span class="paragraph">Internet Service</span>
    </a>
    <a href="#package-page" class="garuda-navigationElement">
      <div class="garuda-generalIcon">
        <img src="../project_media/portal_media/img/mobile/hp_icon_packages.png" alt="packageIcon" />
      </div>
      <span class="paragraph">Packages</span>
    </a>
    <a href="#gff-page" class="garuda-navigationElement">
      <div class="garuda-generalIcon" >
        <img src="../project_media/portal_media/img/mobile/hp_icon_gff.png" alt="gffIcon" />
      </div>
      <span class="paragraph">Garuda Frequent Flyer</span>
    </a>
    <a href="#shop-page" class="garuda-navigationElementLast">
      <div class="garuda-generalIcon">
        <img src="../project_media/portal_media/img/mobile/hp_icon_shop.png" alt="shopIcon" />
      </div>
      <span class="paragraph">Shop</span>
    </a>
  </div>
</section>

<!-- End Landing Page -->