<!-- Internet Service -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB">&nbsp;
    </a>
  </div>
  <p class="ds-text">Internet Service</p>
</div>

<section id="garuda-internetServicePage" class="garuda-generalBackground garuda-commonPages" >
  <div class="garuda-intTitle ds-text">About Garuda Inflight Connectivity</div>
  <div class="garuda-intCommonText garuda-font12 ds-text">Enjoy the internet service at through our Garuda Inflight Connectivity facility. This facility enables you to stay connected to the world during this flight. You can check email, update status at any social media, and browse your favorite site from the sky!</div>
  <div class="garuda-subTitle garuda-font12">
    <p class="garuda-subTitleStart ds-text" >Staying in touch with</p>
    <p class="ds-text">Social Network, Instant Messaging, News, Travel Information, Email, Games, Payment, Music, Banking, and many more</p>
  </div>
  <div class="garuda-intTitle">
    <p class="ds-text">Step by Step to Get Online!</p>
  </div>
  <div id="garuda-stepByStep">
    <ol>
      <li>
        <div class="garuda-stepNumber">
          <img src="../project_media/portal_media/img/mobile/cm_icon_1.png" alt="step1" />
        </div>
        <p id="garuda-listStep1" class="ds-text">Click on the connect button</p>
      </li>
      <li>
        <div id="garuda-stepNumber2" class="garuda-stepNumber">
          <img src="../project_media/portal_media/img/mobile/cm_icon_2.png" alt="step2" />
        </div>
        <p id="garuda-listStep2" class="ds-text">Purchase one of three packages that we have to get your user name and password</p>
      </li>
      <li>
        <div class="garuda-stepNumber">
          <img src="../project_media/portal_media/img/mobile/cm_icon_3.png" alt="step3" />
        </div>
        <p id="garuda-listStep3" class="ds-text">Put yopur user name and password on the Intener Login, then click connect and you're online!</p>
      </li>
    </ol>
  </div>
</section>

<!-- End Internet Service Page -->