<!-- Packages -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB">&nbsp;
    </a>
  </div>
  <p class="ds-text">Packages</p>
</div>

<section id="garuda-packagePage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Internet Packages Offered</div>
  <div class="garuda-intCommonText garuda-font12">
    <p class="ds-text">We are happy to offer you several options that suit your need. Just click “Get Connected Now!” button to purchase and stay connected to the world. Sit back, relax, and enjoy the Garuda Indonesia experience.</p>
    <div class="garuda-subTitleInside">
      <p class="garuda-subTitleStart ds-text" >1 hour for 11.95 USD</p>
      <p class="ds-text">This package suit for those of you who travel on short distance.</p>
    </div>
    <div class="garuda-subTitleInside">
      <p class="garuda-subTitleStart ds-text" >24 hours for 21.95 USD</p>
      <p class="ds-text">This package suit for those of you who travel on long distance or on connecting flight. This package will remain enable for your next flight.</p>
    </div>
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB" id="garuda-connectNowButton">Get Connected Now!</a>
  </div>
</section>

<!-- End Package -->