<!-- Privacy Policy -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB">&nbsp;
    </a>
  </div>
  <p class="ds-text">Privacy Policy</p>
</div>

<section id="garuda-termsAndConditionsPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Garuda Inflight Connectivity Internet Service Privacy Policy</div>
  <div class="garuda-intCommonText garuda-font12">
    <dl>
          <dt class="ds-text">Garuda Inflight Connectivity Internet Service Privacy Policy </dt>
          <dd class="ds-text">
            <ol>
              <li>What are Garuda Inflight Connectivity's Privacy Policy</li>
              <li>Information Collected On Our Sites</li>
              <li>How We Use The information Collected</li>
              <li>Information We Share</li>
              <li>Information We Receive From Third Parties</li>
              <li>Your Access And Choices</li>
              <li>Links To Other Sites</li>
              <li>How We Protect Personal Information</li>
              <li>Consent To Processing And Transfer Of Information</li>
              <li>Children</li>
              <li>How To Contact Us</li>
              <li>Updates To Our Privacy Policy</li>
            </ol>
          </dd>

          <dt class="ds-text">1. What are Garuda Inflight Connectivity’s Privacy Policy</dt>
          <dd class="ds-text">PT Garuda Indonesia (PERSERO), Tbk. and its subsidiaries, affiliates, web site developers and other promotional partners (<Strong>"PT Garuda Indonesia (PERSERO), Tbk.," "us" or "we"</strong>) respect your concerns about privacy and value our relationship with you. This privacy policy (the <strong>"Privacy Policy"</strong>) is intended to inform you of the types of information we collect, as well as our policies and practices regarding the collection, use, and disclosure of that information through the web pages, interactive features, mobile applications, blogs and their respective contents at the URLs <a href="http://www.garuda-indonesia.com/" class="ae-comp" target="_blank" data-captcha-page="captcha" data-type="JSEngine.CaptchaURL">www.garuda-indonesia.com</a>, in addition to our Twitter, Facebook or other social networking sites, and their respective contents (collectively, the <strong>"Sites"</strong>), and the PT Garuda Indonesia (PERSERO), Tbk. services (collectively with the Sites, the "Services"), whether accessed via computer, mobile device or other technology. </dd>
          <dd class="ds-text">Please read this Privacy Policy carefully, because by using the Services, you are acknowledging that you understand and agree to the terms of this Privacy Policy. In addition, please review our Terms of Use Agreement, which governs your use of the Services and any content you submit to the Sites. </dd>

          <dt class="ds-text">2. Information Collected On Our Sites </dt>
          <dd class="ds-text">The airlines on whose planes the Services are available do not collect any information through your use of the Services, but we may share certain types of information with such airlines, as described below. </dd>
          <dd class="ds-text"><strong>Personal Information You Provide to Us</strong></dd>
          <dd class="ds-text">By using the Services, you may choose to provide information that could reasonably be used to contact you or to identify you personally (such as your name, mailing or billing address, telephone number, or email address, email preferences, password for your Account and password hint question, and a complete set of credit card information that enables us to receive your payment (including your credit card authorization number) (collectively, <strong>"Personal Information"</strong>)). For example, PT Garuda Indonesia (PERSERO), Tbk. may collect Personal Information when you register on the Sites, purchase Services, request information, submit comments or participate in some promotion, survey or other feature of the Sites, or otherwise communicate or interact with us. In addition, you may choose to provide contact information for friends you may wish us to contact. When you provide us information for these “refer a friend” messages, we use the information only to send the message you request. We record any e-chat sessions you have with us or our service providers. The Sites may also ask you to provide other information about yourself, such as demographic information (gender, zip code, age, etc.) or certain information about your preferences, product use, and interests. If we combine demographic or other information we collect about you with Personal Information about you, we will treat the combined information as Personal Information. If you do not want your Personal Information collected, please do not submit it. </dd>
          <dd class="ds-text"><strong>Information Collected by Automated Means</strong></dd>
          <dd class="ds-text">Whenever you use the Services, PT Garuda Indonesia (PERSERO), Tbk., as well as any of our third-party advertisers and/or service providers, may use a variety of technologies that automatically or passively collect information about how the Sites are accessed and used (<strong>"Usage Information"</strong>). Usage Information may include, in part, browser type, operating system, the page served, the time, how many users visited the Sites, and the preceding page views. This statistical data provides us with information about the use of the Sites, such as how many visitors visit a specific page on the Sites, how long they stay on that page, and which hyperlinks, if any, they “click” on. This information helps us to keep the Sites fresh and interesting to our visitors and to tailor content to a visitor’s interests. Usage Information is generally non-identifying, but if PT Garuda Indonesia (PERSERO), Tbk. associates it with you as a specific and identifiable person, PT Garuda Indonesia (PERSERO), Tbk. treats it as Personal Information. </dd>
          <dd class="ds-text"><strong>Device Identifiers</strong></dd>
          <dd class="ds-text">In the course of collecting Usage Information, PT Garuda Indonesia (PERSERO), Tbk. also automatically collects your IP address, MAC Address or other unique identifier (<strong>"Device Identifier"</strong>) for the computer, mobile device, Wi-Fi card, technology or other device (collectively, “Device”) you use to access the Sites. A Device Identifier is a number that is automatically assigned to your Device when you access a web site or its servers, and our computers identify your Device by its Device Identifier. When you visit the Sites, we may view your Device Identifier. We use this information to determine the general physical location of your Device and understand from what regions of the world the visitors to the Sites come. We also may use this information to enhance the Sites and we may associate your Device Identifier with your Personal Information. The technologies used on the Sites to collect Usage Information, including Device Identifiers, may include, without limitation: </dd>
          <dd class="ds-text"><strong>Cookies</strong></dd>
          <dd class="ds-text">Cookies are data files placed on a Device when it is used to visit the Sites or access the Services. We may use Cookies to collect and store certain information about your Account. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them). Cookies also allow us to select which of our advertisements or offers are most likely to appeal to you and display them while you are using the Services. Cookies may enhance your online experience by saving your preferences while you are visiting a particular Site. </dd>
          <dd class="ds-text">If you would prefer not to accept cookies, most browsers will allow you to: (i) change your browser settings to notify you when you receive a cookie, which lets you choose whether or not to accept it; (ii) disable existing cookies; or (iii) set your browser to automatically reject any cookies. However, please be aware that if you disable or reject cookies, some features and services on our Sites may not work properly because we may not be able to recognize and associate you with your PT Garuda Indonesia (PERSERO), Tbk. Account. </dd>

          <dt class="ds-text">3. How We Use The information Collected </dt>
          <dd class="ds-text">We use information we collect about and from you for a variety of business purposes, including, for example, to: provide the Services to you, respond to requests that you make, improve the Services, and better tailor content, advertisements, offers, the features, performance, and support of the Services; and for purposes disclosed at the time you provide your Personal Information or otherwise with your consent. We may use records of e-chat sessions for support, training, and improvements to our Services. If you provide feedback to us, we may use and disclose such feedback for any purpose, provided we do not associate such feedback with your Personal Information. </dd>
          <dd class="ds-text">We may use your Personal Information to send you electronic newsletters or promotional emails, unless you have requested not to receive such promotional communications from us. We may also use your Personal Information to send you Service-related communications, for which you may opt out if you terminate your Account. </dd>

          <dt class="ds-text">4. Information We Share </dt>
          <dd class="ds-text">Except as otherwise stated in this Privacy Policy, we do not trade, rent, or share your Personal Information with third parties, unless you ask or authorize us to do so. We may share non-Personal Information, such as aggregate user statistics, demographic information, and Usage Information with third parties. We may also share your information as disclosed at the time you provide your information, as set forth in this Privacy Policy and in the following circumstances: </dd>
          <dd class="ds-text"><strong>Roaming Partners.</strong></dd>
          <dd class="ds-text">PT Garuda Indonesia (PERSERO), Tbk. has agreements in place with various companies (typically hotspot aggregators or telecommunications companies) (<strong>"Roaming Partners"</strong>) that provide the Services to their customers (<strong>"Roaming Partner Users"</strong>). If you are a Roaming Partner User, we may send to the applicable Roaming Partner: (a) the userID and password you submit to us when you sign in to use the Services in order to authenticate you and for security purposes; and (b) information regarding the times that you started and stopped use of the Services and bandwidth used. </dd>
          <dd class="ds-text"><strong>Airline Partners.</strong></dd>
          <dd class="ds-text">We may also disclose your Personal Information to our airline partners. </dd>
          <dd class="ds-text"><strong>Third Parties Providing Services On Our Behalf.</strong></dd>
          <dd class="ds-text">In order to provide the Services, carry out your requests, make various features, services and materials available to you through the Sites, and respond to your inquiries, we may share your Personal Information or Usage Information with third parties that perform functions on our behalf (or on behalf of our partners), such as (a) companies or individuals that: host or operate our Sites; analyze data; provide customer service; or manage payments; (b) advertisers; and (c) sponsors or other third parties that participate in or administer our promotions or provide marketing or promotional assistance. In such cases, such third parties are not entitled to use this information for any other purpose. </dd>
          <dd class="ds-text"><strong>Your Agreement To Have Your Personal Information Shared.</strong></dd>
          <dd class="ds-text">While using the Services, you may have the opportunity to opt-in to receive information and/or marketing offers from someone else or to otherwise consent to the sharing of your information with a third party. If you agree to have your Personal Information shared, your Personal Information will be disclosed to the third party and the Personal Information you disclose will be subject to the privacy policy and business practices of that third party. </dd>
          <dd class="ds-text"><strong>Affiliates.</strong></dd>
          <dd class="ds-text">We may share some or all of your Personal Information with our Affiliates ("Affiliates" are parent companies, subsidiaries, joint ventures, or other companies under a common control), in which case we will require our Affiliates to honor this Privacy Policy. If you are a California resident, you may ask us to refrain from sharing your information (whether collected online or offline) among our Affiliates for their marketing purposes, if the Affiliates are separate legal entities. Please tell us your preference by contacting us as indicated in the “How to Contact Us” section of this Notice. </dd>
          <dd class="ds-text"><strong>Business Transfers.</strong></dd>
          <dd class="ds-text">If our company or our assets related to this Privacy Policy are acquired by another company, your Personal Information, and any other information that we have collected about the users of the Services, may be disclosed to that company as part of the due diligence process and will be transferred to that company as one of the transferred assets. Should such a sale or transfer occur, we will use reasonable efforts to direct the transferee to use information you have provided through the Sites in a manner that is consistent with this Privacy Policy. Also, if any bankruptcy or reorganization proceeding is brought by or against us, all such information may be considered an asset of ours and as such may be sold or transferred to third parties. </dd>
          <dd class="ds-text"><strong>Law Enforcement Compliance.</strong></dd>
          <dd class="ds-text">We may be required by law, or by law enforcement officers acting under the color of law, to record some or all of your communications on or through the Services. We may, and you hereby authorize us to, disclose your Personal Information (including your Account Information) and your communications through the Services, if required by law or by law enforcement officers acting under the color of law, or if we believe in good faith that such disclosure is necessary to: (a) comply with relevant laws or to respond to subpoenas or warrants served on us; or (b) protect or defend the rights, property, or safety of PT Garuda Indonesia (PERSERO), Tbk., you, other users, or third parties (especially in emergency situations). </dd>
          <dt class="ds-text">5. Information We Receive From Third Parties </dt>
          <dd class="ds-text">PT Garuda Indonesia (PERSERO), Tbk. may receive information about you from third parties. For example, if you are on another website and you opt-in to receive information from PT Garuda Indonesia (PERSERO), Tbk., that website will forward to us your e-mail address and other information about you so that we may contact you as requested. You may also choose to participate in a third party application or feature (such as one of our Facebook or Twitter applications or a similar application or feature on a third party web site) through which you allow us to collect and share (or the third party to collect and share) information about you, including Personal Information. In addition, we may receive information about you if other users of a third party web site give us access to their profiles and you are one of their “connections” or information about you is otherwise accessible through your “connections” web page, profile page, or similar page on a social networking or other third party web site or interactive service. </dd>
          <dd class="ds-text">We may also supplement the information we collect about you through the Sites with other information from third parties in order to enhance our ability to serve you, to tailor our content to you and to offer you opportunities to purchase products or services that we believe may be of interest to you. We may combine the information we receive from these third parties with information we collect through the Sites. In those cases, we will apply this Privacy Policy to any Personal Information received, unless we have disclosed otherwise. </dd>

          <dt class="ds-text">6. Your Access And Choices </dt>
          <dd class="ds-text">We offer you choices regarding the collection, use, and sharing of your Personal Information. When you receive promotional communications from us, you may indicate a preference to stop receiving further promotional communications from us and you will have the opportunity to "opt-out" by following the unsubscribe instructions provided in the promotional email you receive or by contacting us directly at customercare at 08041807807.  PT Garuda Indonesia (PERSERO), Tbk. does not charge for this service, and your opt-out request will be processed within 30 days of the date on which we receive it.</dd>
          <dd class="ds-text">If you wish to verify, correct, update or delete any of the Personal Information provided to us, you may do so by editing it in your Account page, or by contacting us at the above email address. In accordance with our routine record keeping, we may delete certain records that contain Personal Information you have submitted through the Services. Please note that we may be required (by law or otherwise) to keep this information and not delete it (or to keep this information for a certain time, in which case we will comply with your deletion request only after we have fulfilled such requirements). You should be aware that it is not always possible to completely remove or delete all of your information from our databases without some residual data remaining in our archives because of backups and other reasons.</dd>

          <dt class="ds-text">7. Links To Other Sites</dt>
          <dd class="ds-text">Our provision of links to other websites or locations is for your convenience and does not signify our endorsement of such other websites or location or its contents. We have no control over, do not review, and cannot be responsible for these outside websites or their content. These other websites may send their own cookies to your Device, they may independently collect data or solicit Personal Information and may or may not have their own Privacy Policy or policies. Please be aware that the terms of our Privacy Policy do not apply to these outside websites. You should also independently assess the authenticity of any website which appears to be or claims that it is one of our Sites (including those linked to through an email or social networking page). </dd>

          <dt class="ds-text">8. How We Protect Personal Information 
          <dd class="ds-text">The connection through which you access the Services is an SSL-encrypted link. However, following such initial access, due to multiple users of our inflight Wi-Fi access point, PT Garuda Indonesia (PERSERO), Tbk. does not provide an encrypted communication channel, such as Wired Equivalent Privacy (WEP), or Wi-Fi Protected Access (WPA2), between our in-flight Wi-Fi access point and your Device. PT Garuda Indonesia (PERSERO), Tbk. does support secure Virtual Private Network (VPN) and Secure Shell (SSH) access. If you have VPN, PT Garuda Indonesia (PERSERO), Tbk. recommends that you use secure VPN protocols for greater security. SSL-encrypted websites or pages, typically indicated by "https" in the address field and a "lock" icon, can also generally be accessed through the PT Garuda Indonesia (PERSERO), Tbk. Services. You should be aware, however, that data packets from un-encrypted Wi-Fi connections can be captured by technically advanced means when they are transmitted between a user's Device and the Wi-Fi access point. You should therefore take precautions to lower your security risks. PT Garuda Indonesia (PERSERO), Tbk. recommends that you follow good security practices, such as ensuring that file-sharing is not enabled while accessing the Internet from an un-encrypted public network and that laptops have a personal firewall and other protections against malware. PT Garuda Indonesia (PERSERO), Tbk. recommends that sensitive or private information should not be accessed via or transmitted over an un-encrypted connection. While PT Garuda Indonesia (PERSERO), Tbk. takes reasonable steps to protect your security, please be aware that we cannot ensure or warrant the security of any information you transmit to us, and you use the Services and provide us with your information at your own risk.</dd>

          <dt class="ds-text">9. Consent To Processing And Transfer Of Information </dt>
          <dd class="ds-text">By using the Services, you agree to the terms of this Privacy Policy and you expressly consent to the processing of your Personal Information according to this Privacy Policy. </dd>
          <dd class="ds-text">If you are a User who resides outside the United States, please be aware that information we collect may be transferred to and processed in the United States. By using the Services, or providing us with any information, you consent to the collection, processing, maintenance and transfer of such information in and to the United States and other applicable territories in which the privacy laws may not be as comprehensive as or equivalent to, those in the country where you reside and/or are a citizen. </dd>

          <dt class="ds-text">10. Children </dt>
          <dd class="ds-text">We do not intentionally gather Personal Information about Users who are under the age of 13. If we become aware that we have unknowingly collected Personal Information from a child under the age of 13, we will make reasonable efforts to delete such information from our records. </dd>

          <dt class="ds-text">11. How To Contact Us </dt>
          <dd class="ds-text">Should you have any questions or concerns regarding this Privacy Policy, please contact us at customercare at 08041807807.</dd>

          <dt class="ds-text">12. Updates To Our Privacy Policy </dt>
          <dd class="ds-text">This Privacy Policy and other information on the Sites may be updated periodically and without prior notice to you, and any changes will be effective immediately upon the posting of the revised Privacy Policy on the Sites. However, we will use your Personal Information in a manner consistent with the Privacy Policy in effect at the time you submitted the information, unless you consent to the new or revised notice. We will post a prominent notice on the Sites to notify you of any significant changes to our Privacy Policy and indicate at the top of the notice when it was most recently updated.</dd>

        </dl>
  </div>
</section>

<!-- End Privacy Policy -->