<!-- CAPTCHA SETTINGS START -->
<script id="captcha-form" class="ae-comp" data-type="captcha" type="text/template" >{"successUrl":"https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB","errorUrl": "#errorUrl","msgConfig": {"errorMessage": "Error message","challengeNotValid": "The word you entered is incorrect. Please try again."}}</script>
<!-- CAPTCHA SETTINGS END -->

<div class="garuda-container-page garuda-general-background">
  <div class="garuda-security-header">
    <div id="garuda-security-icon-lock">
      <img src="../project_media/portal_media/img/mobile/sc_lock.png" alt="lock" />
    </div>
    <span class="ds-text">Security Check</span>
  </div>
  <div id="garuda-security-content">
    <div id="garuda-security-content-item1">
      <p id="garuda-security-item1-txt" class="ds-text">To proceed, please enter the security code below and click 'Submit' which will redirect you to the purchase pages hosted by T-Mobile.  Please note: Cookies should be enabled in browser for security validation.</p>
      <div id="garuda-security-captcha">
        <img id="garuda-security-captcha-img" class="garuda-security-captcha-item captcha form-component" data-form="captcha-form" src="#ImageUrl"  alt="*" />
        <div id="garuda-security-captcha-txt" class="garuda-security-captcha-item">
          <div id="garuda-security-cant" class="ds-text">Can't read the characters?</div>
          <div id="garuda-security-refresh" class="garuda-font12">
            <button class="captcha form-component refresh-button" data-form="captcha-form"  href="#">
              Refresh
            </button>
          </div>
          <div id="garuda-security-refresh-icon">
            <img src="../project_media/portal_media/img/desktop/sc_refresh.png" alt="refresh" />
          </div>
        </div>
      </div>
      <div id="garuda-security-enter-code">
        <label class="ds-text">Enter security code</label>
        <input class="captcha form-component text-input text" data-form="captcha-form" type="text" data-validator="required" data-error-message="Please enter the Captcha text" />
        <p class="ds-text"><!--By Clicking Submit, -->I acknowledge the Terms and Conditions for use of the connectivity service(s)</p>
        <input class="captcha form-component checkbox" data-form="captcha-form"  data-validator="required" data-error-message="Checkbox needs to be checked" type="checkbox"/>
        <div class="itk-input itk-submit">
          <button class="captcha form-component submit-button" data-form="captcha-form">Submit</button>
        </div>
        <div class="captcha form-component error-display-field" data-form="captcha-form"></div>
      </div>
    </div>
    <div id="garuda-security-content-item2" class="garuda-font12">
      <p class="ds-text">
        <span class="garuda-security-p-title">Why is this security code required?</span>
        By requiring the input of the security code, we can ensure that this is not a computer generated action.
      </p>
      <p class="ds-text"><span class="garuda-security-p-title">Terms and Conditions</span></p>
      <p class="ds-text">I hereby acknowledge that Voice over Internet Protocol, also known as VoIP, applications are not permitted during this flight out of consideration for other passengers onboard.</p>
      <p class="ds-text">By submitting the security code, I expressly consent that communications identifying information* (call data records) generated from Internet use during this flight will be transferred to Panasonic Avionics Corporation (Panasonic), 26200 Enterprise Way, Lake Forest, CA 92606 United States, in order to comply with applicable law.  Panasonic will provide duly appointed law enforcement agencies access to this data when required by law.*</p>
      <p class="ds-text">*allotted IP-address, commencement and termination of usage</p>
    </div>
    <div id="garuda-security-airline">
      <p><a href="#home"><img src="../project_media/portal_media/img/mobile/hd_garuda_indonesia.png" alt="garudaIndonesia"></a></p>
    </div>
  </div>
</div>
