<!-- Shop -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB">&nbsp;
    </a>
  </div>
  <p class="ds-text">Shop</p>
</div>

<section id="garuda-shopPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Garuda Shop On Board</div>
  <div class="garuda-intCommonText garuda-font12">
    <p class="ds-text">Enjoy the convenience  of shopping from up above the sky with our Garuda Shop on Board. Find something for yourself or your special ones from our wide range of quality products, from beauty accessories, toys, electronics to travel essentials.</p>
    <p class="ds-text">Or incase you didn’t get the chance to buy gifts for someone at your destination, we also offer you the best Indonesian souvenirs and Garuda Indonesia merchandise for you to choose from. The perfect gifts for any season. Shop with us and feel the Garuda Indonesia experience!</p>
  </div>
  <div class="garuda-subTitle garuda-font12">
    <p class="garuda-subTitleStart ds-text" >How to buy</p>
    <p class="ds-text">To view our catalogue, please browse the catalogue from your personal IFE screen and purchase your desired items through our Flight Attendants.</p>
  </div>
</section>

<!-- Shop -->