<!-- Terms And Conditinos -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB">&nbsp;
    </a>
  </div>
  <p class="ds-text">Terms & Conditions</p>
</div>

<section id="garuda-termsAndConditionsPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Garuda Inflight Connectivity Internet Service Terms of Use Agreement</div>
  <div class="garuda-intCommonText garuda-font12">
    <dl>
          <dt class="ds-text">Garuda Inflight Connectivity Internet Service Terms and Conditions Agreement</dt>
          <dd class="ds-text">
            <ol>
              <li>What are Garuda Inflight Connectivity’s Terms and Conditions?</li>
              <li>Use Of The Service</li>
              <li>Term And Termination</li>
              <li>Fees and Charges </li>
              <li>Proprietary Rights </li>
              <li>Acceptable Use and Conduct</li>
              <li>Privacy And Security</li>
              <li>Disclaimers</li>
              <li>Limitation On Liability</li>
              <li>Indemnity</li>
              <li>General</li>
            </ol>
          </dd>

          <dt class="ds-text">1. What are Garuda Inflight Connectivity’s Terms of Use?</dt>
          <dd class="ds-text">The Garuda Inflight Connectivity Service (the “<strong>Service</strong>”) is provided by PT Garuda Indonesia (Persero), Tbk. (“<strong>PT Garuda Indonesia (Persero), Tbk.</strong>”, “<strong>we</strong>”, or <strong>“us</strong>”). As part of the Service, PT Garuda Indonesia (Persero), Tbk. provides a website portal (the “<strong>Site</strong>”) that is accessible when you first access the Service and after you log in to the Service. This Terms of Use Agreement (“<strong>Agreement</strong>”), the Privacy Policy, and any other rules posted on the Site or in connection with the Service, set forth the legally binding terms for your use of the Service. If you are an individual using the Service on behalf of an organization, you represent and warrant that you have all necessary authority to bind the organization (hereinafter collectively referred to as “you”) to the terms and conditions of this Agreement. Please read the Agreement carefully before registering for or using the Service. This Agreement is a legally binding agreement between you and PT Garuda Indonesia (Persero), Tbk. (and not any airline). By proceeding to establish an Account or using the Service, you agree to be bound by the terms and conditions of this Agreement. </dd>

          <dt class="ds-text">2. Use of the Service</dt>
          <dd class="ds-text"><strong>2.1 Generally.</strong> In order to use the Service (and to become a “<strong>User</strong>”), you must either (a) create a Service account (“<strong>Account</strong>”) by registering on the Site to become a registered user of the Service, or (b) sign in to or use the Service as a Roaming Partner User, through an existing account with a Roaming Partner. A “Roaming Partner” is a company (typically a hotspot aggregator or a telecommunications company) that has an agreement with PT Garuda Indonesia (Persero), Tbk. to provide the Service to its customers (“<strong>Roaming Partner Users</strong>”) under the terms of this Agreement. Each “<strong>Roaming Partner User</strong>” is a “User” under this Agreement. If you are a Roaming Partner User, you must comply with your agreement with the applicable Roaming Partner (in addition to this Agreement).</dd>

          <dd class="ds-text"><strong>2.2 PT Garuda Indonesia (Persero), Tbk. Account.</strong> By creating an Account, you represent and warrant to PT Garuda Indonesia (Persero), Tbk. and the airline on which you use the Service (“<strong>Airline</strong>”) that: (a) all registration information for your Account (including, but not limited to, your payment information) you submit is truthful and accurate; and (b) you will maintain the accuracy of such information. When you register to establish an Account, you will also be asked to choose a login name and a password for your Account. You are entirely responsible for maintaining the confidentiality of your password. You agree not to use the Account, login name, or password of another User. You agree to notify PT Garuda Indonesia (Persero), Tbk. immediately if you suspect any unauthorized use of your Account or access to your password. You are solely responsible for any and all use of your Account, including, without limitation, any fees that accrue for any use of your Account.</dd>

          <dd class="ds-text"><strong>2.3 Restrictions.</strong> You agree not to resell or attempt to resell any aspect of the Service, whether for profit or otherwise, share your Internet Protocol address (“<strong>IP address</strong>”) or Service connection with anyone, access the Service simultaneously through multiple devices or authorize any other individual or entity to use the Service. You agree that sharing the Service with another person (including any person in your family or your organization) breaches the Agreement and may constitute fraud or theft, for which we reserve all rights and remedies. You may use only one device at a time on the Service. You have no proprietary or ownership rights to a specific IP address or other address, log-in name, or password that you use in connection with the Service. We will assign you an IP address each time you access the Service, and it may vary. You shall not program any other IP address into your device. The Service is only available on certain equipped airplanes, and unless otherwise stated by PT Garuda Indonesia (Persero), Tbk. in writing, is not available outside the continental United States. You may use the Service only when the use of electronic devices is permitted by the Airline.</dd>

          <dd class="ds-text"><strong>2.4 No Voice Applications.</strong> You will not use any type of voice application (including, without limitation, voice over Internet protocol) without written permission from PT Garuda Indonesia (Persero), Tbk.</dd>

          <dd class="ds-text"><strong>2.5 Hardware Requirements.</strong> A compatible laptop, personal digital assistant or handheld device with WI-FI capability is required to enable operation of the Service. You are responsible for any fees or charges associated with the device and the use of the device. You must ensure your device is compatible with the Service. It is your responsibility to make sure the device being used to connect to the Service has a WI-FI radio connection.</dd>

          <dd class="ds-text"><strong>2.6 Additional Service.</strong> Services in addition to the basic Service may be subject to additional terms. PT Garuda Indonesia (Persero), Tbk. will inform you of any such additional terms when you sign up for such services. Except as otherwise provided by such additional terms, any additional services will be considered part of the Service.</dd>

          <dd class="ds-text"><strong>2.7 Third Party Service.</strong> The Service may allow you to access certain Internet Service and content that are provided by third parties for which you may have a separate relationship directly with such third parties (“<strong>Third Party Service</strong>”), including, for example, the Wall Street Journal digest available on the Site. As described in this Agreement, however, you agree that PT Garuda Indonesia (Persero), Tbk. shall bear no responsibility for such Third Party Service or your continued access to them via the Service. You are responsible for any fees for Third Party Service that result from your access to or use of them. You hereby represent and warrant that you have the necessary rights to access and use such Third Party Service through the Service and that your use of the Third Party Service is in compliance with the terms of use applicable to such Third Party Service.</dd>

          <dt class="ds-text">3. Term and Termination</dt>
          <dd class="ds-text">This Agreement will commence upon your first access to the Site or use of the Service and will remain in full force and effect unless and until (a) your Account is terminated as provided herein, or (b) you discontinue your use of the Service, if you are a Roaming Partner User. You may terminate your Account at any time, for any reason by following the instructions on the Account webpage. PT Garuda Indonesia (Persero), Tbk. may terminate your Account and/or stop providing the Service to you immediately: (i) if you are in breach of this Agreement; (ii) if PT Garuda Indonesia (Persero), Tbk. decides in its sole discretion to stop providing the Service generally; or (iii) for any or no reason by giving you at least three (3) days of prior notice by sending an email to you at the email address in your Account.</dd>
          <dd class="ds-text">If you terminate your Account or PT Garuda Indonesia (Persero), Tbk. terminates your Account pursuant to subsection “(i)” or “(ii)” above, PT Garuda Indonesia (Persero), Tbk. has no obligation to refund you any fees. If PT Garuda Indonesia (Persero), Tbk. terminates your Account pursuant to subsection “(iii)” above, PT Garuda Indonesia (Persero), Tbk. will refund you a pro rata portion (based on the proportion of days remaining in any subscription of more than one day) of the fees that you have paid for a subscription for the terminated Account. You understand that any termination of your Account may involve deletion of your Account information from our live databases and all the information stored for such Account. PT Garuda Indonesia (Persero), Tbk. will not have any liability whatsoever to you for any termination of your Account or Service, or related deletion of your information. PT Garuda Indonesia (Persero), Tbk. may modify, suspend or discontinue the Service at any time, for any reason, at our sole discretion.</dd>

          <dt class="ds-text">4. Fees and Charges</dt>
          <dd class="ds-text"><strong>4.1 Generally.</strong> Fees paid for the Service are non-refundable, except as noted in Section 3 above. If you are a Roaming Partner User, you must pay all applicable fees for the Service to the applicable Roaming Partner. If you are not a Roaming Partner User, this Section applies to you. You agree to pay to PT Garuda Indonesia (Persero), Tbk. all applicable fees for the Service, including, but not limited to, the fee for the applicable subscription (e.g., one-time use, daily, monthly), taxes, and other charges (such as sales, use, excise, public utility and other taxes) levied by domestic or foreign governments. PT Garuda Indonesia (Persero), Tbk. reserves the right to change the fees from time to time in its sole discretion. The fees for the Service are billed to the credit card you have specified for your payments for the Service. PT Garuda Indonesia (Persero), Tbk. is not responsible for any expenses or charges (for example for exceeding credit card limits) resulting from the fees and charges billed by PT Garuda Indonesia (Persero), Tbk.. PT Garuda Indonesia (Persero), Tbk. may, in its sole discretion, suspend or cancel delinquent Accounts and/or refuse the holders of such Accounts access to the Service.</dd>

          <dd class="ds-text"><strong>4.2 Billing and Payment of Charges.</strong> You hereby authorize PT Garuda Indonesia (Persero), Tbk. (through its payment card processing service provider) to charge the credit card you provide in your Account. PT Garuda Indonesia (Persero), Tbk. will send you a receipt to your email address listed in your Account.</dd>
          
          <dd class="ds-text"><strong>4.3 Payment Dispute.</strong> If you believe you have been incorrectly charged, you must notify us of such disputed charges within the time provided for in your credit card agreement or you waive your right to dispute those charges. Please contact PT Garuda Indonesia (Persero), Tbk. Customer Care at XXX or by email at XXX, so that we can review your account. PT Garuda Indonesia (Persero), Tbk. may require you to describe the dispute in writing. Any written communications concerning disputed amounts owed must be sent to: PT Garuda Indonesia (Persero), Tbk. Customer Care, XXX </dd>

          <dt class="ds-text">5. Proprietary Rights</dt>
          <dd class="ds-text">You acknowledge that all the intellectual property rights in the Service and the underlying technology, and all content on the Site are owned by PT Garuda Indonesia (Persero), Tbk., or PT Garuda Indonesia (Persero), Tbk.’s licensors. All rights not expressly licensed are reserved. You agree not to reproduce (except to view content on the Site for your personal purposes), reverse engineer, modify, or create derivative works based on, the Service or Site content. Except as expressly permitted under this Agreement, you agree not to rent, lease, loan, or sell access to the Service or provide the Service to any third party on a service bureau or time sharing basis or otherwise.</dd>

          <dt class="ds-text">6. Acceptable Use and Conduct </dt>
          <dd class="ds-text"><strong>6.1 Acceptable Use Policy.</strong> You hereby agree to comply with PT Garuda Indonesia (Persero), Tbk.’s acceptable use policy (“Acceptable Use Policy”), as described below. You will not use the Service to (or assist another person to): </dd>
          <dd class="ds-text">a. Harm or threaten harm to persons or property; </dd>
          <dd class="ds-text">b. Harass other persons; </dd>
          <dd class="ds-text">c. Violate any applicable law, including those related to export control, spam, gambling, obscenity, or computer access; </dd>
          <dd class="ds-text">d. Engage in any fraud or misrepresentation; </dd>
          <dd class="ds-text">e. Provide instructional information about illegal activities; </dd>
          <dd class="ds-text">f. Interfere with, disrupt, or create undue burden on the Service (or the networks or computers that provide same); </dd>
          <dd class="ds-text">g. Infringe or violate another person’s rights, including privacy and intellectual property rights; </dd>
          <dd class="ds-text">h. Allow another person who has not paid for the Service to access or use the Service on his computer or device through your computer or device; </dd>
          <dd class="ds-text">i. Access or display offensive content on your computer or device, in view of another person; </dd>
          <dd class="ds-text">j. Knowingly distribute any virus or other malware; </dd>
          <dd class="ds-text">k. Access any network or computer (including those providing the Service) in excess of the permission expressly granted to you; </dd>
          <dd class="ds-text">l. Monitor (through, for example, sniffers) any network traffic without express authorization of the owner of the network and the parties’ to the communications; </dd>
          <dd class="ds-text">m. Attempt to decrypt any encrypted or scrambled communications; </dd>
          <dd class="ds-text">n. Introduce software or automated agents into the Service; or </dd>
          <dd class="ds-text">o. Attempt to impersonate any other person, including any PT Garuda Indonesia (Persero), Tbk. employees.</dd>
          <dd class="ds-text"><strong>6.2 Breach.</strong> PT Garuda Indonesia (Persero), Tbk. reserves the right (but has no obligation) to investigate and take appropriate action in its sole discretion against you if you violate PT Garuda Indonesia (Persero), Tbk.’s Acceptable Use Policy or any other provision of this Agreement, including without limitation, refusing to provide access to and use of the Service to you, terminating your Account, reporting you to the applicable Roaming Partner, our other partners, or law enforcement authorities, and taking legal action against you.</dd>
          
          <dd class="ds-text"><strong>6.3 Use Limits and Network Management.</strong> PT Garuda Indonesia (Persero), Tbk.’s goal is to ensure that every user has a great experience. Towards that goal, PT Garuda Indonesia (Persero), Tbk. may prioritize, restrict, or set limits (such as bandwidth allocations, or limits on types of content accessed or transferred) on your use of the Service for certain applications. In times of heavy network usage, this may impact the functioning of high bandwidth applications. As with any mobile broadband network, speed may vary due to your device, atmospheric conditions, terrain, network capacity, and aircraft location. Content and uses requiring high bandwidth, such as multi-player gaming, file sharing, and streaming audio and video, may be given a lower priority and at times may be blocked or not work consistently. Service is available only when it is within the operating range of the PT Garuda Indonesia (Persero), Tbk. system or of an operator with which PT Garuda Indonesia (Persero), Tbk. has an applicable roaming agreement. PT Garuda Indonesia (Persero), Tbk. coverage locations and maps are subject to change at any time without notice. Actual Service coverage, speeds, locations, and quality may vary. Service is subject to unavailability, including emergencies, third party service failures, transmission, equipment or network problems or limitations, interference, signal strength, maintenance and repair, and national security issues, and may be interrupted, refused, limited, or curtailed. </dd>

          <dd class="ds-text"><strong>6.4 Content.</strong> We are not a publisher of third-party content accessed through the Service, and are not responsible for the content, accuracy, timeliness, or delivery of any opinions, advice, statements, messages, services, imagery, graphics, data, or any other information provided to or by third parties as accessible through the Service or Third Party Services.</dd>

          <dt class="ds-text">7. Privacy and Security </dt>
          <dd class="ds-text"><strong>7.1 Privacy.</strong> Use of the Service is also governed by our Privacy Policy, which is incorporated into this Agreement by this reference. </dd>
          <dd class="ds-text"><strong>7.2 Security.</strong> Neither PT Garuda Indonesia (Persero), Tbk. nor Airline guarantees security. If you use the Service to access your organization’s email or information, it is your responsibility to ensure that your use complies with your organization’s internal information technology and security procedures. We may, due to legal or contractual requirements, remove, block, filter, or restrict by any means, any materials or information (including but not limited to emails) that we or Airline considers to be actual or potential violations of the restrictions set forth in this Agreement, including, but not limited to those activities that may subject PT Garuda Indonesia (Persero), Tbk., Airline, or either of their customers to liability or danger. </dd>

          <dd class="ds-text"><strong>7.3 Acknowledgement of Filtering and Restriction of Access to Pornography or Other Offensive or Objectionable Material.</strong> You specifically acknowledge and agree that PT Garuda Indonesia (Persero), Tbk. may, as a necessary incident of providing the Service, or as required or permitted by law, or as hereby expressly contemplated by this Agreement, use any advanced blocking technologies and other technical, administrative or logical means available to it, to identify, inspect, remove, block, filter, or restrict any uses, materials or information (including but not limited to emails) that we consider to be actual or potential violations of the restrictions on use set forth in this Agreement, including, but not limited to, those activities that may subject PT Garuda Indonesia (Persero), Tbk. or its customers to liability or danger, or material that may be obscene, lewd, lascivious, filthy, excessively violent, pornographic, harassing, or otherwise objectionable.</dd>

          <dt class="ds-text">8. Disclaimers </dt>
          <dd class="ds-text">The Service is provided “As-Is” and as available. PT Garuda Indonesia (Persero), Tbk., Airline, and their Service providers, partners, and affiliates expressly disclaim any warranties and conditions of any kind, whether express or implied, including, but not limited to, the warranties or conditions of merchantability, fitness for a particular purpose, title, quiet enjoyment, accuracy, or non-infringement. PT Garuda Indonesia (Persero), Tbk., Airline (and each of their service providers) make no warranty that: (a) the Service will meet your requirements; (b) the Service will be available on an uninterrupted, timely, secure, or error-free and malicious code-free basis; or (c) the results that may be obtained from the use of the Service will be accurate or reliable. PT Garuda Indonesia (Persero), Tbk. and Airline do not control any materials, information, products, or services on the Internet provided by third parties, some of which may be offensive to you. You assume full responsibility for assessing and evaluating the completeness, accuracy, and usefulness of all such materials, information, products, or services, and their merchantability and quality. You expressly acknowledge that there are certain security, confidentiality, and privacy risks inherent in wireless communications and technology, and PT Garuda Indonesia (Persero), Tbk. and Airline do not make any assurances or warranties relating to such risks. </dd>
          <dd class="ds-text">You acknowledge that the third parties that provide the Third Party Services may, at any time, change the means by which the Third Party Services are accessed, and consequently, your ability to use the Service to facilitate your access to any Third Party Services may be temporarily or permanently disabled. You agree that PT Garuda Indonesia (Persero), Tbk. and Airline shall have no responsibility or liability to you whatsoever in relation to the Third Party Services or continuing access to the Third Party Services, and that PT Garuda Indonesia (Persero), Tbk. and Airline make no representations or warranties with respect to the Third Party Services. </dd>
          <dd class="ds-text">Some jurisdictions do not allow the exclusion of implied warranties, so the above exclusion may not apply to you.</dd>

          <dt class="ds-text">9. Limitation on Liability </dt>
          <dd class="ds-text">In no event shall PT Garuda Indonesia (Persero), Tbk. or Airline be liable to you or any third party for any lost profit or any indirect, consequential, exemplary, incidental, special, or punitive damages arising from your use of the Service, even if PT Garuda Indonesia (Persero), Tbk. or Airline has been advised of the possibility of such damages. Notwithstanding anything to the contrary contained herein, PT Garuda Indonesia (Persero), Tbk.’s and Airline’s liability (Including but not limited to its partners and affiliates) to you for any damages arising from or related to your use of the Service (for any cause whatsoever and regardless of the form of the action), will at all times be limited to the greater of Fifty US Dollars ($50) or the amounts you paid to PT Garuda Indonesia (Persero), Tbk. in the twelve (12) months prior to the accrual of the claim, if any. </dd>
          <dd class="ds-text">Some jurisdictions do not allow the limitation or exclusion of liability for incidental or consequential damages, so the above limitation or exclusion may not apply to you, and you may also have other legal rights that vary from jurisdiction to jurisdiction.</dd>

          <dt class="ds-text">10. Indemnity </dt>
          <dd class="ds-text">You agree to defend, hold harmless, and indemnify PT Garuda Indonesia (Persero), Tbk., its subsidiaries, affiliates, officers, agents, licensees, and other partners and employees, from any loss, liability, claim, or demand, including reasonable attorney’s fees, made by any third party due to or arising out of your use of the Service, due to or arising out of your violation of this Agreement and/or due to or arising from your breach of any provision of this Agreement.</dd>

          <dt class="ds-text">11. General </dt>
          <dd class="ds-text"><strong>11.1 Survival.</strong> The provisions under Sections 8, 9 and 10 will survive termination of this Agreement for any reason. </dd>
          <dd class="ds-text"><strong>11.2 Governing Law and Venue.</strong> This Agreement shall be governed by the laws of the State of Illinois, without giving effect to any conflict of laws principles that may provide the application of the law of another jurisdiction. Any claim or dispute one party has against the other party arising under or relating to this Agreement (including claims in contract, tort, strict liability, statutory liability, or other claims) must be resolved exclusively by a court of competent jurisdiction, federal or state, located in Chicago, Illinois, and no other court. Each party agrees to submit to the personal jurisdiction of such courts and to accept service of process from them. </dd>

          <dd class="ds-text"><strong>11.3 Assignment.</strong> All or any of PT Garuda Indonesia (Persero), Tbk.’s rights and obligations under this Agreement may be assigned to a subsequent owner or operator of the Service in a merger, acquisition, or sale of all or substantially all of PT Garuda Indonesia (Persero), Tbk.’s assets. You may not assign or transfer this Agreement or any or all of your rights hereunder, without the prior written consent of PT Garuda Indonesia (Persero), Tbk., and any attempt to do so is void. </dd>

          <dd class="ds-text"><strong>11.4 Entire Agreement; No Waiver.</strong> This Agreement (which includes the Privacy Policy and any other rules posted on the Site) constitutes the entire agreement between you and PT Garuda Indonesia (Persero), Tbk. regarding the use of the Service. PT Garuda Indonesia (Persero), Tbk.’s failure to exercise or enforce any right or provision of this Agreement shall not operate as a waiver of such right or provision. The section titles in this Agreement are for convenience only and have no legal or contractual effect. This Agreement shall inure to the benefit of you, PT Garuda Indonesia (Persero), Tbk. and Airline and their heirs, administrators, successors and assigns. </dd>

          <dd class="ds-text"><strong>11.5 Disclosures.</strong> Under California Civil Code Section 1789.3, Customers who are residents of California are entitled to the following specific consumer rights information: the Complaint Assistance Unit of the Division of Consumer Service of the Department of Consumer Affairs may be contacted in writing at 1020 N. Street, #501, Sacramento, CA, 95814, or by telephone at 916.445.1254. Parental control protections (such as computer hardware, software, or filtering services) that may assist you in limiting access to material that is harmful to minors are commercially available – see www.google.com/Top/Computers/Internet/Child_Safety/</dd>

          <dd class="ds-text"><strong>11.6 Copyright/Trademark Information.</strong> Copyright © 2007 - 2008, PT Garuda Indonesia (Persero), Tbk.. All rights reserved. The copyrights, trademarks, trade names, logos, and service marks (“<strong>Marks</strong>”) displayed in connection with the Service and on the Site are PT Garuda Indonesia (Persero), Tbk.'s property or the property of other third parties. You are not permitted to use these Marks without PT Garuda Indonesia (Persero), Tbk.'s prior written consent or the consent of such third party which may own the Marks. </dd>

          <dd class="ds-text"><strong>11.7 Amendments.</strong> We may amend this Agreement from time to time. If we make material changes to the Agreement, we will notify you by sending you an email to the email address specified in your Account. You agree that such amended Agreement will be effective thirty (30) days after being sent to you, and your continued use of the Service after that time shall constitute your acceptance of the amended Agreement. </dd>
          
          <dd class="ds-text"><strong>11.8 Notices.</strong> PT Garuda Indonesia (Persero), Tbk. may give legal notice to you by means of a general notice on the Service, electronic mail to your email address on our records for your Account, or by written communication sent by first class mail, postage prepaid, or overnight courier to your address on record for your Account. All legal notices given by you shall be mailed to: PT Garuda Indonesia (Persero), Tbk</dd>
        </dl>
  </div>
</section>

<!-- Terms And Conditions -->