/*--------------------
----------------------
RESETS
----------------------
--------------------*/


/*--------------------
UNIVERSAL
--------------------*/
body.ie7 hr
{
	margin:14px 0;
}




/*--------------------
----------------------
ELEMENTS
----------------------
--------------------*/


/*--------------------
IMAGES
--------------------*/
body.ie7 img
{
	-ms-interpolation-mode:bicubic;
}


/*--------------------
LISTS
--------------------*/


/*--------------------
EXTENDED LISTS
--------------------*/


/*--------------------
HORIZONTAL CENTERED LIST
--------------------*/
body.ie7 .itk-list-hor-centered li
{
	display:inline;
	zoom:1;
}


/*--------------------
FEED LIST
--------------------*/
body.ie7 .itk-list-feed li
{
	zoom:1;
}

body.ie7 .itk-list-feed li li
{
	zoom:0;
}


/*--------------------
FORMS
--------------------*/
body.ie7 .itk-form-divide
{
	padding-bottom:1em; /*bottom margin collapse on floated div.input elements*/
}


/*--------------------
EXTENDED FORM ELEMENTS
--------------------*/
body.ie7 input.itk-radio,
body.ie7 input.itk-checkbox
{
	margin-left:-4px;
}




/*--------------------
----------------------
COMPONENTS
----------------------
--------------------*/


/*--------------------
SKIP LINKS
--------------------*/
body.ie7 .itk-skip-links
{
	position:absolute;
	width:100%;
}




/*--------------------
----------------------
HELPERS
----------------------
--------------------*/


/*--------------------
CLEARFIX http://nicolasgallagher.com/micro-itk-clearfix-hack/
--------------------*/
body.ie7 .itk-clearfix
{
	zoom:1;
}


/*--------------------
REPLACED - Scot Kellum method
--------------------*/
body.ie7 #itk-wrapper .itk-replaced
{
	text-indent:-5000px;
}