/*--------------------
----------------------
RESETS
----------------------
--------------------*/


/*--------------------
UNIVERSAL
--------------------*/
*
{
	background:none !important;
	float:none !important;
}

*[style]
{
	height:auto !important;
	width:auto !important;
}


/*--------------------
REMOVED ELEMENTS
--------------------*/
p.itk-logo,
object,
fieldset,
.itk-navigation
{
	display:none !important;
}


/*--------------------
FONTS
--------------------*/
body
{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}


/*--------------------
TEXT
--------------------*/
body
{
	font-size:12px;
}

a:after
{
	content:" (" attr(href) ") ";
}

abbr:after
{
	content:" (" attr(title) ")";
}

img:after
{
	content:" (" attr(alt) ")";
}

p,
li
{
	text-align:justify;
}


/*--------------------
IMAGES
--------------------*/
img
{
	max-width:100%;
}


/*--------------------
VIDEO
--------------------*/
video
{
	max-width:100%;
}




/*--------------------
----------------------
LAYOUT
----------------------
--------------------*/
.itk-header
{
	border-bottom:2px solid rgb(153,153,153);  /*dark grey*/
}

.itk-footer
{
	border-top:2px solid rgb(153,153,153);  /*dark grey*/
}