@charset "utf-8";


/*--------------------
TABLE OF CONTENTS
----------------------
RESETS
	UNIVERSAL
	BRANDING
	FONTS
	TEXT


ELEMENTS
	BLOCKQUOTE
	HEADERS
	LINKS
		GENERIC LINK
		HEADER LINKS
		BUTTON LINKS
		ICON & IMAGE REPLACED LINKS
	IMAGES
	LISTS
		GENERIC LIST
			DEFINITION LIST
			ORDERED LIST
			UNORDERED LIST
		EXTENDED LISTS
			UNSIGNED LIST *itk-list-unsigned
			HORIZONTAL LIST *itk-list-hor(izontal)
			HORIZONTAL CENTERED LIST
			FEED LIST *list-feed
	TABLES
		GENERIC TABLE
		EXTENDED TABLES
			TABLE LISTING
			TABLE SKIN 1
	FORMS
		FORM ELEMENTS
		EXTENDED FORM ELEMENTS
		FORM MEDIA QUERIES
	OBJECTS


COMPONENTS
	BREADCRUMB
	CAPTION
	DETAILS
	FIGURE
	PAGINATION
	SKIP LINKS


LAYOUT
	STRUCTURE
	GRID
		GRID MEDIA QUERIES
	FIXED LAYOUT
	FOOTER
		FOOTER MEDIA QUERIES


CONTROL CLUSTERS
	CURSOR CONTROL
	MARGIN CONTROL
	MARGIN FORCE
	PADDING CONTROL
	Z-INDEX CONTROL


HELPERS
	CLEARFIX
	DEVICE VISIBILITY TOGGLERS
		DEVICE VISIBILITY TOGGLERS MEDIA QUERIES
	PRINT
	REPLACED
	VIEWPORT CLOAK
	VIEWPORT OFFSET
--------------------*/




/*--------------------
----------------------
RESETS
----------------------
--------------------*/


/*--------------------
UNIVERSAL
--------------------*/
*
{
	margin:0;
	padding:0;
}

br
{
	display:none;
}

hr /*ie6*/ /*ie7*/
{
	clear:both;
	display:block;
	margin:21px 0;
}


/*--------------------
BRANDING
--------------------*/
.itk-header p.itk-logo span.itk-replaced /*ie6*/
{
	background:rgb(0,0,0);
	height:49px;
	width:168px;
}


/*--------------------
FONTS
--------------------*/
body,
input,
select,
textarea
{
	font-family:sans-serif;
}


/*--------------------
TEXT
--------------------*/
body
{
	font-size:62.5%;
	line-height:1.4;
	text-align:left;
	text-rendering:optimizeLegibility;
	-webkit-text-size-adjust:none;
}

input,
select,
textarea
{
	font-size:1em;
}

textarea
{
	resize:vertical;
}




/*--------------------
----------------------
ELEMENTS
----------------------
--------------------*/


/*--------------------
BLOCKQUOTE
--------------------*/
blockquote
{
	background-color:rgb(204,204,204); /*medium grey*/
	padding-top:1em;
}

blockquote p::before 
{
	content:open-quote;
}

blockquote p::after
{
	content:close-quote;
}


/*--------------------
HEADERS
--------------------*/
h1,
h2,
h3,
h3,
h4,
h5,
h6
{
	font-size:1em;
	outline:none;
}


/*--------------------
LINKS
--------------------*/


/*--------------------
GENERIC LINK
--------------------*/
#itk-wrapper a
{
	word-wrap:break-word;
}


/*--------------------
HEADER LINKS
--------------------*/
#itk-wrapper h1 a:focus,
#itk-wrapper h1 a:hover,
#itk-wrapper h2 a:focus,
#itk-wrapper h2 a:hover,
#itk-wrapper h3 a:focus,
#itk-wrapper h3 a:hover,
#itk-wrapper h4 a:focus,
#itk-wrapper h4 a:hover,
#itk-wrapper h5 a:focus,
#itk-wrapper h5 a:hover,
#itk-wrapper h6 a:focus,
#itk-wrapper h6 a:hover
{
	text-decoration:none;
}


/*--------------------
BUTTON LINKS
--------------------*/
#itk-wrapper a.itk-button /*ie6*/
{
	background-color:rgb(204,204,204); /*medium grey*/
	display:inline-block;
	text-decoration:none;
}

#itk-wrapper a.itk-button:active,
#itk-wrapper a.itk-button:focus,
#itk-wrapper a.itk-button:hover
{
	background-color:rgb(153,153,153); /*dark grey*/
	text-decoration:none;
}


/*--------------------
ICON & IMAGE REPLACED LINKS
--------------------*/
a.itk-icon
{
	background-color:transparent;
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:16px;
}

a.itk-icon-example
{
	background-image:url('../img/interface/icons/12x12.gif');
}

a.itk-replaced-example
{
	background-image:url('../img/interface/icons/12x12.gif');
	height:12px;
	width:12px;
}


/*--------------------
IMAGES
--------------------*/
img
{
	display:block;
}

a img
{
	border:0;
	display:inline;
}


/*--------------------
LISTS
--------------------*/


/*--------------------
GENERIC LIST
--------------------*/


/*--------------------
DEFINITION LIST
--------------------*/
dt
{
	font-weight:700;
}


/*--------------------
ORDERED LIST
--------------------*/
ol
{
	list-style-type:decimal;
	padding-left:30px;
}


/*--------------------
UNORDERED LIST
--------------------*/
ul
{
	list-style-type:disc;
	padding-left:30px;
}


/*--------------------
EXTENDED LISTS
--------------------*/


/*--------------------
UNSIGNED LIST
--------------------*/
.itk-list-unsigned
{
	list-style-type:none;
	padding-left:0;
}


/*--------------------
HORIZONTAL LIST
--------------------*/
.itk-structure .itk-list-hor li
{
	float:left;
	margin-right:20px;
	padding-right:20px;
}

#itk-wrapper .itk-list-hor-divide-1 li
{
	background:transparent url('../img/interface/lists/bg-divide-1.png') scroll no-repeat center right;
	margin-right:8px;
	padding-right:12px;
}

body #itk-wrapper .itk-list-hor li:last-child
{
	background:none;
	margin-right:0;
	padding-right:0;
}


/*--------------------
HORIZONTAL CENTERED LIST
--------------------*/
.itk-list-hor-centered
{
	padding-left:0;
	text-align:center;
}

.itk-list-hor-centered li
{
	display:inline-block;
	padding:0 10px;
}


/*--------------------
FEED LIST
--------------------*/
.itk-list-feed li /*ie6*/ /*ie7*/
{
	background-color:rgb(204,204,204); /*medium grey*/
	border-top:1px solid rgb(0,0,0);
	padding-top:1em;
}

.itk-list-feed li li /*ie6*/ /*ie7*/
{
	background-color:transparent;
	border-top:none;
	padding-top:0;
	padding-bottom:0;
}

#itk-wrapper .itk-list-feed li:last-child
{
	border-bottom:none;
}


/*--------------------
TABLES
--------------------*/


/*--------------------
GENERIC TABLE
--------------------*/
table
{
	border-collapse:collapse;
	width:100%;
}

th,
td
{
	border:1px solid rgb(0,0,0);
	text-align:left;
	vertical-align:top;
}

caption
{
	text-align:left;
}


/*--------------------
EXTENDED TABLES
--------------------*/


/*--------------------
TABLE LISTING
--------------------*/
table.itk-table-listing
{
	width:auto;
}


/*--------------------
TABLE SKIN 1
--------------------*/
table.itk-table-skin-1 th,
table.itk-table-skin-1 td
{
	border:none;
}


/*--------------------
FORMS
--------------------*/


/*--------------------
FORM ELEMENTS
--------------------*/
fieldset
{
	border:0;
}

fieldset .itk-form-divide
{
	background-color:rgb(204,204,204); /*medium grey*/
	padding-bottom:0.5em;
	position:relative;
}

legend
{
	font-style:italic;
	font-weight:700;
}

label
{
	display:block;
	font-weight:700;
}

label.itk-viewport-cloak
{
	position:absolute;
}

div.itk-structure fieldset fieldset label
{
	float:none;
	font-weight:400;
	width:auto;
}

input
{
	display:inline;
}

input.itk-text,
input.password,
textarea
{
	width:180px;
}

select
{
	width:188px;
}

textarea
{
	height:200px;
}


/*--------------------
EXTENDED FORM ELEMENTS
--------------------*/
.itk-input /*ie6*/
{
	min-height:1em;
}

#itk-wrapper fieldset div.itk-check-radio
{
	position:relative;
}

#itk-wrapper fieldset div.itk-check-radio label
{
	margin-left:20px;
}

#itk-wrapper fieldset div.itk-check-radio input
{
	left:0;
	position:absolute;
	top:4px;
}

#itk-wrapper div.itk-structure fieldset div.itk-submit
{
	padding-left:0;
	position:static;
}

#itk-wrapper div.itk-structure fieldset div.itk-submit input
{
	border:0;
	color:rgb(255,255,255);
	font-weight:700;
	position:static;
	background-color:rgb(204,204,204); /*medium grey*/
	width:auto;
	padding:2px;
}

#itk-wrapper div.itk-structure fieldset div.itk-submit input:focus,
#itk-wrapper div.itk-structure fieldset div.itk-submit input:hover
{
	background-color:rgb(153,153,153); /*dark grey*/
}

#itk-wrapper div.itk-structure fieldset.itk-form-config-hor div.itk-submit
{
	margin-top:1.74em;
}

body #itk-wrapper div.itk-structure .itk-check-radio div.itk-submit
{
	padding-top:0;
}


/*--------------------
FORM MEDIA QUERIES
--------------------*/
@media only screen and (min-width:768px) 
{
	div.itk-form-config-hor label
	{
		float:left;
		width:150px;
	}

	.itk-form-config-hor .itk-input,
	.itk-form-config-hor .itk-check-radio,
	.itk-form-config-ver .itk-form-config-hor .itk-input,
	.itk-form-config-ver .itk-form-config-hor .itk-check-radio
	{
		float:left;
		margin-right:20px;
	}

	.itk-form-config-ver .itk-input,
	.itk-form-config-hor .itk-form-config-ver .itk-input,
	.itk-form-config-ver .itk-check-radio,
	.itk-form-config-hor .itk-form-config-ver .itk-check-radio
	{
		float:none;
		margin-right:0;
	}

	body label.itk-viewport-cloak
	{
		position:static;
	}
}


/*--------------------
OBJECTS
--------------------*/
embed,
object
{
	display:block;
}




/*--------------------
----------------------
COMPONENTS
----------------------
--------------------*/


/*--------------------
BREADCRUMB
--------------------*/
dl.itk-breadcrumb dt
{
	float:left;
	margin-right:8px;
}


/*--------------------
CAPTION
--------------------*/
div.itk-caption 
{
	position:relative;
}

div.itk-caption .itk-caption-underlay
{
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}

div.itk-caption .itk-caption-overlay
{
	background:rgb(0,0,0);
	color:rgb(255,255,255);
	position:absolute;
}

div.itk-caption .itk-caption-overlay .itk-caption-overlay-inner
{
	padding:2px 4px;
}

div.itk-caption-config-hor .itk-caption-overlay
{
	height:auto;
	left:0;
	width:100%;
}

div.itk-caption-config-ver .itk-caption-overlay
{
	height:100%;
	top:0;
	width:50%;
}

div.itk-caption-config-left .itk-caption-overlay
{
	left:0;
}

div.itk-caption-config-left .itk-caption-overlay
{
	right:0;
}

div.itk-caption-config-bottom .itk-caption-overlay
{
	bottom:0;
}

div.itk-caption-config-top .itk-caption-overlay
{
	top:0;
}


/*--------------------
DETAILS
--------------------*/
details
{
	display:block;
}

details summary /*ie6*/ /*ie7*/
{
	background-color:rgb(204,204,204); /*medium grey*/
	border:1px solid rgb(0,0,0);
	display:block;
	font-weight:700;
	padding-bottom:5px;
	padding-top:5px;
	position:relative;
}

html.details summary:hover
{
	background-color:rgb(153,153,153); /*dark grey*/
	color:rgb(255,255,255);
}

details div.itk-disclosure
{
	background:rgb(255,255,255);
	border:1px solid rgb(0,0,0);
	display:block;
	margin-left:1px;
	margin-right:1px;
	margin-top:-4px;
	padding-top:1em;
}


/*--------------------
FIGURE
--------------------*/
div.itk-figure
{
	background-color:rgb(255,255,255);
	border:1px solid rgb(153,153,153); /*dark grey*/
	float:left;
	font-size:0.8em;
	margin-right:10px;
	padding:1px;
	width:140px;
}

div.itk-figure .itk-figcaption
{
	padding:1px;
}


/*--------------------
PAGINATION
--------------------*/
div.itk-pagination
{
	border-top:1px solid rgb(0,0,0);
	padding-top:1em;
}

div.itk-pagination ul.itk-pagination-next,
div.itk-pagination ul.itk-pagination-prev
{
	width:24%;
}

div.itk-pagination ul.itk-pagination-next
{
	float:right;
}

div.itk-pagination ul.itk-pagination-next li
{
	text-align:right;
}

div.itk-pagination ul.itk-pagination-prev
{
	float:left;
}

div.itk-pagination ul.itk-pagination-prev li
{
	text-align:left;
}

div.itk-pagination ol.itk-pagination-pages
{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}


/*--------------------
SKIP LINKS
--------------------*/
.itk-skip-links li a
{
	background-color:rgb(153,153,153); /*dark grey*/
	display:block;
	left:0;
	position:absolute;
	text-align:center;
	top:-20000em;
	width:100%;
}

.itk-skip-links-pre li a:hover,
.itk-skip-links-pre li a:focus
{
	top:0;
}

.itk-skip-links-post li a:hover,
.itk-skip-links-post li a:focus
{
	left:auto;
	top:auto;
	margin-top:-1em;
	position:static;
}




/*--------------------
----------------------
LAYOUT
----------------------
--------------------*/


/*--------------------
STRUCTURE
--------------------*/
.itk-structure
{
	clear:both;
	padding-top:1px;
}


/*--------------------
GRID
--------------------*/
.itk-grid /*ie6*/
{
	min-height:1px;
}


/*--------------------
GRID MEDIA QUERIES
--------------------*/
@media only screen and (min-width:600px)
{
	div.itk-grid-split-2 div.itk-grid
	{
		float:left;
		width:50%;
	}

	.itk-grid-split-3 div.itk-grid
	{
		float:left;
		width:33%;
	}
}

@media only screen and (min-width:768px) 
{
	div.itk-grid
	{
		float:left;
	}

	body div.itk-grid-split-3 div.itk-grid-2
	{
		width:34%;
	}

	div.itk-grid-split-4 div.itk-grid
	{
		width:25%;
	}

	div.itk-grid-split-5 div.itk-grid
	{
		width:20%;
	}
}


/*--------------------
FIXED LAYOUT
--------------------*/
html.positionfixed body.itk-fixed-layout .itk-header,
html.positionfixed body.itk-fixed-layout .itk-footer
{
	left:0;
	padding-bottom:0;
	padding-top:0;
	position:fixed;
	width:100%;
}

html.positionfixed body.itk-fixed-layout .itk-header
{
	top:0;
}

html.positionfixed body.itk-fixed-layout .itk-footer
{
	bottom:0;
}


/*--------------------
FOOTER
--------------------*/


/*--------------------
FOOTER MEDIA QUERIES
--------------------*/
@media only screen and (min-width:768px) 
{
	.itk-footer ul.itk-navigation
	{
		float:left;
		width:70%;
	}

	.itk-footer p.itk-legal
	{
		float:right;
		text-align:right;
		width:30%;
	}
}


/*--------------------
----------------------
CONTROL CLUSTERS
----------------------
--------------------*/


/*--------------------
CURSOR CONTROL
--------------------*/
abbr,
acronym,
dfn
{
	cursor:help;
}

#itk-wrapper a,
label,
input.itk-checkbox,
input.itk-radio,
.itk-submit input,
select,
html.details details summary
{
	cursor:pointer;
}

input.itk-text,
textarea
{
	cursor:text;
}


/*--------------------
MARGIN CONTROL
--------------------*/
#itk-wrapper .itk-distinct, /*generic class*/
blockquote,
p,
dl,
ol,
ul,
object,
img,
table,
fieldset,
fieldset .itk-form-divide,
details,
div.itk-caption,
div.itk-structure
{
	margin-bottom:1em;
}

label,
fieldset .itk-input-grouping,
.itk-list-feed li
{
	margin-bottom:0.5em;
}

dd,
li,
.itk-list-feed li li
{
	margin-bottom:0.25em;
}

html.positionfixed body.itk-fixed-layout .itk-header,
html.positionfixed body.itk-fixed-layout .itk-content,
html.positionfixed body.itk-fixed-layout .itk-footer,
p.itk-logo,
fieldset fieldset,
div.itk-figure img,
div.itk-figure .itk-figcaption p,
.itk-skip-links,
.itk-skip-links li,
div.itk-caption-underlay
{
	margin-bottom:0;
}


/*--------------------
MARGIN FORCE
--------------------*/
blockquote,
.itk-list-feed li,
div.itk-structure,
details div.itk-disclosure
{
	padding-bottom:1px;
}


/*--------------------
PADDING CONTROL
--------------------*/
th,
td
{
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}

input,
select,
textarea
{
	padding-bottom:2px;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
}

label
{
	padding-top:2px;
}

blockquote,
fieldset .itk-form-divide,
div.pagination,
.itk-list-feed li,
details summary,
details div.itk-disclosure
{
	padding-left:10px;
	padding-right:10px;
}


/*--------------------
Z-INDEX CONTROL
--------------------*/
details summary
{
	z-index:1;
}

.itk-skip-links li a
{
	z-index:2;
}

html.positionfixed body.itk-fixed-layout .itk-header,
html.positionfixed body.itk-fixed-layout .itk-footer
{
	z-index:3;
}




/*--------------------
----------------------
HELPERS
----------------------
--------------------*/


/*--------------------
CLEARFIX http://nicolasgallagher.com/micro-itk-clearfix-hack/
--------------------*/
.itk-clearfix::before,
.itk-clearfix::after
{
	content:"";
	display:table;
}

.itk-clearfix::after
{
	clear:both;
}


/*--------------------
DEVICE VISIBILITY TOGGLERS
--------------------*/
.hide
{
	display:none;
}

.show
{
	display:block;
}

html.js body div#itk-wrapper .itk-show-on-javascript,
body div#itk-wrapper .itk-hide-on-js,
body div#itk-wrapper .itk-show-on-phones,
body div#itk-wrapper .itk-hide-on-tablets,
body div#itk-wrapper .itk-hide-on-desktops
{
	display:block;
}

body div#itk-wrapper .itk-show-on-javascript,
html.js body div#itk-wrapper .itk-hide-on-js,
body div#itk-wrapper .itk-show-on-tablets,
body div#itk-wrapper .itk-show-on-desktops,
body div#itk-wrapper .itk-hide-on-phones
{
	display:none;
}


/*--------------------
DEVICE VISIBILITY TOGGLERS MEDIA QUERIES
--------------------*/
@media only screen and (min-width:600px)
{
	body div#wrapper .itk-hide-on-phones,
	body div#wrapper .itk-hide-on-desktops,
	body div#wrapper .itk-show-on-tablets
	{
		display:block;
	}

	body div#wrapper .itk-show-on-phones,
	body div#wrapper .itk-show-on-desktops,
	body div#wrapper .itk-hide-on-tablets
	{
		display:none;
	}
}

@media only screen and (min-width:1382px) 
{
	body div#wrapper .itk-hide-on-phones,
	body div#wrapper .itk-hide-on-tablets,
	body div#wrapper .itk-show-on-desktops
	{
		display:block;
	}

	body div#wrapper .itk-show-on-phones,
	body div#wrapper .itk-show-on-tablets,
	body div#wrapper .itk-hide-on-desktops
	{
		display:none;
	}
}


/*--------------------
PRINT
--------------------*/
.itk-print
{
	display:none;
}


/*--------------------
REPLACED - Scot Kellum method
--------------------*/
body #itk-wrapper .itk-replaced /*ie6*/ /*ie7*/ /*ie8*/
{
	background-attachment:scroll;
	background-position:top left;
	background-repeat:no-repeat;
	display:block;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	word-wrap:normal;
}


/*--------------------
VIEWPORT CLOAK
--------------------*/
#itk-wrapper .itk-viewport-cloak
{
	visibility:hidden;
}


/*--------------------
VIEWPORT OFFSET
--------------------*/
#itk-wrapper .itk-viewport-offset
{
	background:transparent;
	display:block;
	height:1px;
	line-height:0;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	text-indent:-5000px;
	top:-5000px;
	width:1px;
}