<!-- Contact -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton-ind">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">&nbsp;
    </a>
  </div>
  <p class="ds-text">Kontak</p>
</div>

<section id="garuda-termsAndConditionsPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Kontak</div>
  <div class="garuda-intCommonText garuda-font12">
    <p class="ds-text">Untuk menghubungi kami mengenai layanan internet dapat melalui TELKOM customer care di
        +62-21-3863000
    </p>
    <p>&nbsp;</p>
  </div>
</section>

<!-- End Contact -->