<!-- Faq -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton-ind">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">&nbsp;
    </a>
  </div>
  <p class="ds-text">FAQ</p>
</div>

<section id="garuda-termsAndConditionsPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">FAQ</div>
  <div class="garuda-intCommonText garuda-font12">
      <dl>

          <dt class="ds-text">	Jenis perangkat apa saja yang dapat saya gunakan?  </dt>
          <dd class="ds-text">	Setiap perangkat LAN-nirkabel yang kompatibel, termasuk komputer laptop, smartphone, dan perangkat tablet, dapat digunakan dengan Garuda Inflight Connectivity, kecuali GSM, 3G, dan GPRS. Bila Anda ingin menggunakan koneksi WiFi pastikan untuk mematikan GSM, 3G, dan GPRS.</dd>

          <dt class="ds-text">	Apa yang dapat saya lakukan dengan layanan ini? </dt>
          <dd class="ds-text">	Garuda Inflight Connectivity memungkinkan Anda untuk menikmati suasana internet yang sama dengan yang Anda nikmati dalam kehidupan sehari-hari Anda, termasuk akses ke situs Web, mengirim dan menerima email, dan kemampuan untuk memperbarui jaringan sosial media Anda. Layanan ini juga kompatibel dengan Virtual Private Networks (VPN), memberikan Anda akses ke dalam email perusahaan dan intranet.</dd>

          <dt class="ds-text">	Kapan layanan Wi-Fi ini tersedia?  </dt>
          <dd class="ds-text">	Garuda Inflight Connectivity tersedia setiap saat selama penerbangan Anda, dari pengumuman setelah lepas landas pada awal layanan hingga pengumuman sebelum mendarat mengenai larangan penggunaan perangkat elektronik. Hukum Penerbangan melarang penggunaan perangkat elektronik ketika lepas landas dan mendarat. Pastikan untuk mematikan perangkat elektronik Anda yang mungkin sedang digunakan sebelum mendarat.</dd>
          <dd class="ds-text"> Silakan matikan perangkat elektronik ketika petugas kabin meminta Anda untuk melakukannya setelah pintu masuk penumpang ditutup. Juga, silakan matikan alat elektronik di bagasi Anda.</dd>
          <dd class="ds-text">	* Selama penerbangan: Dari waktu tanda sabuk pengaman dimatikan atau ketika pengumuman memungkinkan penggunaan perangkat elektronik yang dibuat hingga waktu pengumuman sebelum mendarat bahwa penggunaan perangkat elektronik dilarang.</dd>

          <dt class="ds-text">	Berapa kecepatan koneksi layanan internet dalam penerbangan? </dt>
          <dd class="ds-text">	Sama seperti dengan  jalur akses LAN nirkabel lainnya, kecepatan koneksi yang sebenarnya akan bervariasi tergantung pada jumlah orang yang menggunakan layanan. </dd>

          <dt class="ds-text">	Di kelas penerbangan manakah layanan akses internet tersedia? </dt>
          <dd class="ds-text">	Garuda Inflight Connectivity tersedia di semua kelas layanan penerbangan. </dd>

          <dt class="ds-text">	Pembayaran  </dt>
          <dd class="ds-text">	Pembayaran diterima dengan kartu kredit. Pengguna yang menjadi anggota dari salah satu LAN nirkabel pelayanan publik yang tercantum di sini dapat log in menggunakan ID dan password keanggotaan mereka, dan akan ditagih untuk jumlah waktu yang dihabiskan menggunakan layanan Garuda Inflight Connectivity.

          <dt class="ds-text">	Berapa biaya layanan ini?  </dt>
          <dd class="ds-text">	Untuk pembayaran dengan kartu kredit, Garuda Inflight Connectivity tersedia dengan harga $ 11.95 per jam, atau $ 21.95 selama 24 jam. </dd>
          <dd class="ds-text">	Mengapa mungkin menggunakan sistem LAN nirkabel dalam penerbangan?  </dd>
          <dd class="ds-text">	Keamanan sistem LAN nirkabel kami telah diverifikasi melalui pengujian, dan sistem disetujui untuk digunakan di bawah Undang-Undang Penerbangan kecuali selama lepas landas dan mendarat. Namun, penggunaan perangkat dalam mode ad hoc (sejenis komunikasi nirkabel LAN di mana dua atau lebih perangkat nirkabel LAN  berkomunikasi secara langsung dengan satu sama lain tanpa melalui jalur akses) tetap dilarang.</dd>

          <dt class="ds-text">	Seberapa aman adalah layanan internet dalam penerbangan? </dt>
          <dd class="ds-text">	Meskipun dalam penerbangan layanan internet menawarkan keamanan yang sama seperti dengan jalur akses biasa, kami merekomendasikan pengguna memiliki firewall yang tepat, anti-virus, dan perangkat lunak lain yang diinstal pada perangkat mereka.

          <dt class="ds-text">	Apakah mungkin untuk beralih dari satu perangkat ke perangkat lain (misalnya dari laptop ke smartphone) dengan menggunakan sesi beli sama?</dt>
          <dd class="ds-text">	Anda dapat mengakses Garuda Inflight Connectivity dengan user sign-in Anda untuk berbagai perangkat. Misalnya, jika baterai laptop Anda rendah, Anda dapat dengan mudah beralih ke smartphone Anda dan sebaliknya. </dd>

          <dt class="ds-text">	Mengapa transmisi saya terganggu atau dinonaktifkan?  </dt>
          <dd class="ds-text">    Hal ini mungkin terjadi karena beberapa alasan. Jika pesawat ini beroperasi di rute yang berada di atas lintang atau derajat tertentu,terdapat kemungkinan berada di luar jangkauan satelit. Alasan lain bahwa pesawat tidak berada di atas ketinggian minimal 10.000 kaki, yang secara otomatis menonaktifkan antena. Masalah lebih lanjut bisa terjadi karena kondisi cuaca ekstrim seperti badai yang kuat. Ini juga bisa menjadi masalah teknis dengan sistem Garuda Inflight Connectivity itu sendiri. </dd>

      </dl>
  </div>
</section>

<!-- End Faq -->