<!-- GFF Garuda Frequent Flyer -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton-ind">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">&nbsp;
    </a>
  </div>
  <p class="ds-text">GFF</p>
</div>

<section id="garuda-GFFPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">The Garuda Indonesia Frequent Flyer Program</div>
  <div class="garuda-intCommonText garuda-font12">
    <p class="ds-text">Nikmati banyak keuntungan menjadi Anggota GFF. Segera daftar online di gff.garuda-indonesia.com atau mengisi formulir pendaftaran di semua Sales Office Garuda Indonesia & di pesawat ini. Informasi lengkap & untuk mengetahui Mileage Anda, kunjungi gff.garuda-indonesia.com</p>
  </div>
  <div id="garuda-subTitleCards">
    <div id="garuda-GFFCards">
      <img src="../project_media/portal_media/img/mobile/cards.png" alt="gffcards" />
    </div>
  </div>
  <div class="garuda-goToGFF itk-navigation" >
    <a class="btn btn-cta-primary ae-comp garuda-blue-color" target="_blank" data-type="JSEngine.CaptchaURL" data-captcha-page="captcha" href="http://gff.garuda-indonesia.com">
      <div class="garuda-goToBackground">
        <span class="garuda-goToTitle">GFF Website</span>
        <span class="garuda-goToSubtitle">(internet connection package purchase is necessary)</span>
      </div>
    </a>
  </div>
</section>

<!-- End GFF Garuda Frequent Flyer -->