<!-- Internet Service -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton-ind">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">&nbsp;
    </a>
  </div>
  <p class="ds-text">Layanan Internet</p>
</div>

<section id="garuda-internetServicePage" class="garuda-generalBackground garuda-commonPages" >
  <div class="garuda-intTitle ds-text">Tentang Garuda Inflight Connectivity</div>
  <div class="garuda-intCommonText garuda-font12 ds-text">Nikmati layanan akses internet melalui layanan Garuda Inflight Connectivity. Layanan ini memungkinkan Anda dapat tetap terhubung pada dunia selama penerbangan melalui laptop maupun smartphone anda. Anda dapat memeriksa dan mengirim email, memperbarui status dijejaring sosial dan melihat situs favorit anda dari udara!</div>
  <div class="garuda-subTitle garuda-font12">
    <p class="ds-text">Tetap terhubung dengan jejaring sosial, berita, email, pembayaran, layanan perbankan, pesan cepat, informasi perjalanan, permainan, musik, dan masih banyak lagi</p>
  </div>
  <div class="garuda-intTitle">
    <p class="ds-text">Cara untuk online!</p>
  </div>
  <div id="garuda-stepByStep">
    <ol>
      <li>
        <div class="garuda-stepNumber">
          <img src="../project_media/portal_media/img/mobile/cm_icon_1.png" alt="step1" />
        </div>
        <p id="garuda-listStep1" class="ds-text">Tekan tombol connect</p>
      </li>
      <li>
        <div id="garuda-stepNumber2" class="garuda-stepNumber">
          <img src="../project_media/portal_media/img/mobile/cm_icon_2.png" alt="step2" />
        </div>
        <p id="garuda-listStep2" class="ds-text">Pilih  satu dari tiga jenis paket yang ditawarkan untuk mendapatkan username dan password anda</p>
      </li>
      <li>
        <div class="garuda-stepNumber">
          <img src="../project_media/portal_media/img/mobile/cm_icon_3.png" alt="step3" />
        </div>
        <p id="garuda-listStep3" class="ds-text">Masukan username dan password di internet login, kemudian tekan connect, dan anda sudah terhubung!</p>
      </li>
    </ol>
  </div>
</section>

<!-- End Internet Service Page -->