<!-- Packages -->


<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton-ind">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">&nbsp;
    </a>
  </div>
  <p class="ds-text">Paket</p>
</div>

<section id="garuda-packagePage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Paket Internet yang Ditawarkan</div>
  <div class="garuda-intCommonText garuda-font12">
    <p class="ds-text">Kami menawarkan beberapa pilihan paket internet yang sesuai dengan keinginan anda. Cukup dengan menekan tombol “Terhubung Sekarang!” untuk membeli dan tetap terhubung dengan dunia. Duduk santai, rileks dan nikmati pengalaman bersama Garuda Indonesia!</p>
    <div class="garuda-subTitleInside">
      <p class="garuda-subTitleStart ds-text" >11.95 USD untuk 1 jam</p>
      <p class="ds-text">Paket ini cocok untuk Anda yang bepergian dalam jarak tempuh pendek</p>
    </div>
    <div class="garuda-subTitleInside">
      <p class="garuda-subTitleStart ds-text" >21.95 USD untuk 24 jam</p>
      <p class="ds-text">Paket ini cocok untuk Anda yang bepergian dalam jarak tempuh jauh atau menggunakan connecting flight. Paket ini akan tetap tersedia di penerbangan Anda selanjutnya.</p>
    </div>
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID" id="garuda-connectNowButton" >Terhubung Sekarang</a>
  </div>
</section>

<!-- End Package -->