<!-- Privacy Policy -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton-ind">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">&nbsp;
    </a>
  </div>
  <p class="ds-text">Kebijakan Privasi</p>
</div>

<section id="garuda-termsAndConditionsPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Garuda Inflight Connectivity Internet Service Privacy Policy</div>
  <div class="garuda-intCommonText garuda-font12">
    <dl>
          <dt class="ds-text">Kebijakan Privasi Layanan Internet Garuda In-flight Connectivity</dt>
          <dd class="ds-text">
            <ol>
              <li>Apa itu Kebijakan Privasi Garuda In-flight Connectivity</li>
              <li>Kumpulan Informasi dalam Situs Kami</li>
              <li>Cara Menggunakan Kumpulan Informasi tersebut.</li>
              <li>Informasi yang Kami Bagi</li>
              <li>Informasi yang Kami Terima dari Pihak ke Tiga</li>
              <li>Akses dan Pilihan Anda</li>
              <li>Tautan ke Situs Lain</li>
              <li>Bagaimana Melindungi Informasi Pribadi</li>
              <li>Izin untuk Memproses dan Mentransfer Informasi</li>
              <li>Anak</li>
              <li>Cara Menghubungi Kami</li>
              <li>Pembaharuan Kebijakan Privasi</li>
            </ol>
          </dd>

          <dt class="ds-text">1. Apa itu Kebijakan Privasi Garuda In-flight Connectivity</dt>
          <dd class="ds-text">PT Garuda Indonesia (PERSERO), Tbk. beserta anak perusahaan, afiliasi, pengelola website dan partner promosi lainnya (<strong>“PT Garuda Indonesia (PERSERO),Tbk.,”kami”</strong>) menghargai perhatian Anda terhadap privasi dan nilai dari hubungan kami dengan Anda. Kebijakan privasi ini menginformasikan tentang jenis informasi yang kami kumpulkan, juga kebijakan dan praktek kami terkait dengan pengumpulan, penggunaan, dan keterbukaan informasi melalui halaman web, fitur interaktif, aplikasi mobile, dan konten respektif dalam URL <a href="http://www.garuda-indonesia.com/" class="ae-comp" target="_blank" data-captcha-page="captcha" data-type="JSEngine.CaptchaURL">www.garuda-indonesia.com</a>, sebagai tambahan Twitter, Facebook atau situs sosial kami lainnya, dan konten respektif mereka, (secara kolektif disebut <strong>“situs-situs”</strong>) dan layanan PT Garuda Indonesia (PERSERO), Tbk. Yang diakses melalui computer, perangkat mobile atau teknologi lainnya. </dd>
          <dd class="ds-text">Bacalah Kebikan Privasi ini dengan seksama, karena dengan menggunakan layanan ini, Anda secara sadar mengerti dan menyetujui isi dari kebijakan privasi ini. Periksa kembali Perjanjian Penggunaan, yang mengatur penggunaan dari layanan dan konten yang dimuat pada situs kami.</dd>

          <dt class="ds-text">2. Kumpulan Informasi dalam Situs Kami</dt>
          <dd class="ds-text">Airline-arline yang pada pesawatnya memiliki layanan ini tidak dapat mengumpulkan informasi apapun melalui penggunaan layanan ini, melainkan kami dapat membagi beberapa jenis informasi terkait dengan airline, seperti yang dijelaskan dibawah ini.</dd>

          <dd class="ds-text"><strong>Informasi Personal yang Anda Berikan pada Kami</strong></dd>
          <dd class="ds-text">Dengan menggunakan layanan ini, Anda dapat memilih informasi yang dapat digunakan untuk menghubungi Anda atau mengidentifikasi diri Anda (seperti nama, alamat untuk lembar surat atau penagihan, nomor telepon, atau alamat email, preferensi email, kata sandi untuk akun Anda dan kata sandi untuk pertanyaan petunjuk, dan informasi lengkap tentang kartu kredit yang memungkinkan Anda melakukan pembayaran (termasuk nomor otorisasi kartu kredit (secara kolektif disebut <strong>‘Informasi Pribadi’</strong>)). Sebagai contoh, PT Garuda Indonesia (PERSERO), Tbk. dapat mengumpulkan Informasi Pribadi saat Anda mendaftar dalam situs-situs kami, melakukan pembayaran untuk suatu layanan, permintaan informasi, memasukan komentar atau berpartisipasi dalam survey promosi, atau fitur lainnya dalam situs, atau saat berkomunikasi dan berinteraksi dengan kami. Selanjutnya, Anda dapat memberi informasi kontak teman Anda untuk kami hubungi. Saat Anda memberi informasi untuk pengiriman pesan melalui “beritahu teman”, kami menggunakan informasi tersebut hanya untuk mengirim pesan yang Anda inginkan. Situs tersebut mungkin akan meminta Anda untuk memberi informasi lainnya terkait diri Anda, seperti informasi demografi (jenis kelamin, kode pos, usia, dll) atau informasi tertentu tentang preferensi, penggunaan produk dan kegemaran Anda. Jika kami menggabungkan informasi demografi atau informasi lainnya dengan Informasi Pribadi Anda , kami akan memperlakukan informasi tersebut sebagai Informasi Pribadi. Jangan masukan Informasi Pribadi, jika Anda tidak menginginkan Informasi Pribadi Anda kami kumpulkan.</dd>

          <dd class="ds-text"><strong>Informasi yang Dikumpulkan Melalui Sarana Otomatis</strong></dd>
          <dd class="ds-text">Kapanpun Anda melakukan layanan ini, PT Garuda Indonesia (PERSERO),Tbk. juga agen iklan pihak ketiga kami, dan atau penyedia layanan, dapat menggunakan berbagai macam teknologi yang secara otomatis dan pasif mengumpulkan informasi tentang bagaina situs ini diakses dan dipergunakan (<strong>“Informasi Penggunaan”</strong>). Informasi penggunaan termasuk, sebagian dari, tipe browser, system operasi, halaman yang ditampilkan, waktu, jumlah pengunjung situs, dan tampilan halaman terdahulu. Data statistik tersebut memuat informasi tentang penggunaan situs ini, seperti jumlah pengunjung yang mengunjungi halaman tertentu, berapa lama mereka mengunjungi halaman tersebut, tautan yang mana yang mereka masuki jika ada. Informasi ini membantu kami untuk menjaga agar situs ini tetap segar dan menarik bagi para pengunjung dan menyesuaikan konten situs dengan minat pengunjung. Pada umumnya informasi penggunaan ini tidak mengidentifikasi, namun apabila PT Garuda Indonesia (PERSERO),Tbk. Menghubungkan informasi ini dengan Anda sebagai seseorang tertentu dan teridentifikasi, PT Garuda Indonesia (PERSERO),Tbk. Akan memberlakukan ini sebagai Informasi Pribadi.</dd>

          <dd class="ds-text"><strong>Alat Penanda</strong></dd>
          <dd class="ds-text">Dalam rangka pengumpulan Informasi Penggunaan, PT Garuda Indonesia (PERSERO), Tbk. juga secara otomatis mengumpulkan IP address, MAC Address atau penanda lainnya dari komputer Anda. Kami juga dapat menggunakan informasi ini untuk mengembangkakan situs ini dan kami dapat menghubungkan Alat PenAnda Anda dengan Informasi Pribadi Anda. Teknologi yang digunakan pada situs ini digunakan untuk mengumpulkan Informasi Penggunaan, dapat termasuk Alat Penanda, tanpa ada batasan:</dd>

          <dd class="ds-text"><strong>Cookies</strong></dd>
          <dd class="ds-text">Cookies adalah data file yang ditempatkan pada sebuah perangkat yang biasanya digunakan saat mengunjungi situs ini atau mengakses layanan ini. Kami dapat menggunakan Cookies untuk mengumpulkan dan menyimpan informasi tertentu tentang akun Anda. Kami dapat menggunakan Cookies saat sesi berjalan (yang berakhir ketika Anda menutup web browser) dan persisten Cookies (yang akan tetap ada pada komputer Anda sampai Anda menghapusnya). Cookies juga memungkinkan kami untuk memilih salah satu dari iklan atau penawaran kami yang paling mungkin menarik bagi Anda dan menampilkannya saat Anda menggunakan layanan ini. Coockies dapat menambah pengalaman online Anda dengan menyimpan preferensi Anda saat Anda mengunjungi situs tertentu.</dd>
          <dd class="ds-text">Jika Anda memilih untuk tidak menggunakan Cookies, kebanyakan browser akan memungkinkan Anda untuk: (i) mengubah pengaturan browser Anda untuk memberitahu Anda ketika Anda menerima Cookies, yang memungkinkan Anda menerimanya atau tidak; (ii) tidak mengaktifkan Cookies yang ada; atau (iii) mengatur browser Anda untuk secara otomatis menolak Cookies. Namun, perlu diketahui bahwa jika Anda menonaktifkan atau menolak Cookies, beberapa fitur dan layanan di Situs kami mungkin tidak bekerja dengan baik karena tidak mampu mengenali dan menghubungkan anda dengan akun PT Garuda Indonesia (PERSERO), Tbk.</dd>

          <dt class="ds-text">3. Cara Menggunakan Kumpulan Informasi tersebut.</dt>
          <dd class="ds-text">Kami menggunakan informasi yang kami kumpulkan tentang dan dari Anda untuk berbagai tujuan penggunaan, termasuk, misalnya, untuk: menyediakan layanan kepada Anda, merespon permintaan yang Anda buat, meningkatkan pelayanan, dan konten yang lebih sesuai, iklan-iklan, penawaran-penawaran, fitur-fitur, kinerja, dan dukungan dari layanan ini; dan untuk diungkapkan pada saat Anda memberikan informasi pribadi Anda atau jika tidak hal tersebut akan dilakukan dengan persetujuan Anda. Kami dapat menggunakan catatan sesi e-chat untuk bahan pendukung, pelatihan, dan perbaikan layanan kami. Jika Anda memberikan komentar kepada kami, kami dapat menggunakan dan mengungkapkan komentar tersebut untuk tujuan apapun, selama komentar tersebut tidak diasosiasikan dengan Informasi Pribadi.</dd>
          <dd class="ds-text">Kami dapat menggunakan Informasi Pribadi Anda untuk mengirimkan newsletter elektronik atau email promosi, kecuali jika Anda telah meminta untuk tidak menerima komunikasi promosi dari kami. Kami juga dapat menggunakan Informasi Pribadi Anda untuk mengirimkan Layanan terkait komunikasi, dan Anda dapat memilih keluar jika Anda menghentikan Akun Anda.</dd>

          <dt class="ds-text">4. Informasi yang Kami Bagi</dt>
          <dd class="ds-text">Hal-hal selain yang disebutkan dalam Kebijakan Privasi, kami tidak memperdagangkan, menyewakan, atau membagi Informasi Pribadi anda dengan pihak ketiga, kecuali jika anda meminta atau memberi kewenangan pada kami untuk melakukannya. Kami dapat memberi informasi yang bukan merupakan Informasi Pribadi, seperti statistik pengguna agregat, informasi demografis, dan Informasi Penggunaan dengan pihak ketiga. Kami juga dapat membagi Informasi seperti yang diungkap saat anda memberi informasi tersebut, sebagaimana diatur dalam Kebijakan Privasi ini dan dalam keadaan berikut:</dd>

          <dd class="ds-text"><strong>Roaming Partners.</strong></dd>
          <dd class="ds-text">PT Garuda Indonesia (PERSERO), Tbk. memiliki perjanjian dengan berbagai perusahaan (biasanya agregator hotspot atau perusahaan telekomunikasi) ("Roaming Partners") yang menyediakan Layanan kepada pelanggan mereka ("Pengguna Roaming Partner"). Jika Anda seorang Pengguna dari layanan Roaming Partner, kami dapat mengirim informasi sebagai berikut kepada Roaming Partner terkait: (a) ID pengguna dan kata sandi yang Anda kirimkan kepada kami ketika Anda ‘sign in’ untuk menggunakan Layanan ini yang bertujuan untuk mengotentikasi Anda dan untuk tujuan keamanan, dan (b) informasi mengenai waktu mulai dan berhenti dan bandwidth yang digunakan saat Anda menggunakan Layanan ini.</dd>

          <dd class="ds-text"><strong>Airlines Mitra</strong></dd>
          <dd class="ds-text">Kami juga dapat mengungkapkan informasi pribadi Anda kepada airline mitra kami.</dd>

          <dd class="ds-text"><strong>Pihak Ketiga Penyedia Layanan Kami</strong></dd>
          <dd class="ds-text">Dalam rangka memberikan layanan ini, melaksanakan permintaan Anda, membuat berbagai fitur, layanan, dan bahan-bahan yang tersedia bagi Anda melalui Situs, dan menanggapi pertanyaan Anda, kami dapat membagi Informasi Pribadi atau Informasi Penggunaan dengan pihak ketiga yang melakukan fungsi atas nama kami (atau atas nama mitra kami), seperti (a) perusahaan atau perorangan yang menjadi host atau mengoperasikan Situs kami, menganalisis data, menyediakan layanan pelanggan, atau mengelola pembayaran, (b) pengiklan, dan (c) sponsor atau pihak ketiga lainnya yang berpartisipasi dalam mengelola promosi produk kami atau memberikan bantuan pemasaran atau bantuan promosi. Dalam kasus tersebut, pihak ketiga tersebut tidak berhak untuk menggunakan informasi ini untuk tujuan lain.</dd>

          <dd class="ds-text"><strong>Perjanjian untuk Berbagi Informasi Pribadi Anda</strong></dd>
          <dd class="ds-text">Sementara menggunakan Layanan ini, Anda memiliki kesempatan untuk menerima informasi dan / atau penawaran pemasaran dari pihak lain atau sebaliknya anda menyetujui untuk berbagi informasi mengenai Anda dengan pihak ketiga. Jika Anda setuju untuk membagi Informasi Pribadi Anda, Informasi Pribadi Anda akan diungkapkan kepada pihak ketiga dan Informasi Pribadi Anda akan tunduk pada kebijakan privasi dan praktek bisnis dari pihak ketiga.</dd>

          <dd class="ds-text"><strong>Afiliasi</strong></dd>
          <dd class="ds-text">Kami dapat berbagi beberapa atau semua Informasi Pribadi dengan Afiliasi kami ("Afiliasi" adalah induk perusahaan, anak perusahaan, joint ventures, atau perusahaan lain di bawah pengawasan umum induk perusahaan), dalam hal ini kami akan meminta Afiliasi kami untuk menghormati Kebijakan Privasi ini. Jika Anda seorang penduduk California, Anda dapat meminta kami untuk tidak berbagi informasi Anda (baik yang dikumpulkan secara online atau offline) diantara afiliasi kami untuk tujuan pemasaran mereka, jika Afiliasi tersebut adalah badan hukum yang terpisah. Anda dapat memberitahu kami preferensi Anda dengan menghubungi kami seperti yang disebutkan dalam bagian "Bagaimana Hubungi Kami".</dd>

          <dd class="ds-text"><strong>Bisnis Transfer</strong></dd>
          <dd class="ds-text">Jika perusahaan kami atau aset kami yang berhubungan dengan Kebijakan Privasi ini diakuisisi oleh perusahaan lain, Informasi Pribadi, dan informasi lainnya yang kami kumpulkan mengenai pengguna dari Layanan ini, dapat diungkapkan kepada perusahaan tersebut bahwa sebagai bagian dari proses riset dan analisis dan akan ditransfer ke perusahaan itu sebagai salah satu aset. Apabila penjualan atau pengalihan perusahaan harus terjadi, kami akan mengupayakan secara wajar untuk mengarahkan penerima perusahaan untuk menggunakan informasi yang Anda berikan melalui Situs ini dengan cara yang konsisten dengan Kebijakan Privasi ini. Juga, jika ada kebangkrutan atau proses reorganisasi dibawa oleh atau melawan kami, semua informasi tersebut dapat dianggap sebagai aset kita dan dengan demikian dapat dijual atau dialihkan ke pihak ketiga.</dd>

          <dd class="ds-text"><strong>Pemenuhan Kewajiban Hukum</strong></dd>
          <dd class="ds-text">Kami dapat diwajibkan oleh hukum, atau oleh aparat penegak hukum yang bertindak di bawah ranah hukum, untuk merekam beberapa atau semua komunikasi Anda pada atau melalui Layanan ini. Kami dapat, dan Anda memberikan kewenangan kepada kami untuk, mengungkapkan Informasi Pribadi (termasuk Informasi Account) dan komunikasi Anda melalui Layanan ini, jika diperlukan oleh hukum atau oleh aparat penegak hukum yang bertindak di bawah ranah hukum, atau jika kami yakin dengan dilandasi itikad baik bahwa pengungkapan tersebut diperlukan untuk: (a) mematuhi hukum yang relevan atau untuk merespon panggilan dari pengadilan atau untuk kami jadikan jaminan hukum, atau (b) melindungi atau membela hak, milik, atau keselamatan PT Garuda Indonesia (PERSERO), Tbk,. Anda, pengguna lain, atau pihak ketiga (terutama dalam situasi darurat).</dd>

          <dt class="ds-text">5. Informasi yang Kami Terima dari Pihak ke Tiga</dt>
          <dd class="ds-text">PT Garuda Indonesia (PERSERO), Tbk. dapat menerima informasi tentang Anda dari pihak ketiga. Misalnya, jika Anda berada di situs lain dan Anda mendaftar untuk menerima informasi dari PT Garuda Indonesia (PERSERO), Tbk., situs web tersebut akan meneruskan kepada kami alamat e-mail Anda dan informasi lain tentang Anda agar kami dapat menghubungi Anda. Anda juga dapat memilih untuk berpartisipasi dalam aplikasi milik pihak ketiga atau fitur (seperti Facebook kami atau aplikasi Twitter atau aplikasi yang serupa atau fitur pada situs web milik pihak ketiga) melalui izin Anda kami dapat mengumpulkan dan membagi (atau pihak ketiga dapat mengumpulkan dan membagi) informasi tentang Anda, termasuk Informasi Pribadi. Selain itu, kami dapat menerima informasi mengenai Anda jika pengguna lain dari situs web pihak ketiga memberi kami akses ke profil mereka dan Anda adalah salah satu dari “koneksi “ mereka atau jika terdapat “koneksi” untuk mendapatkan informasi tentang Anda melalui suatu  ke halaman web anda, halaman profil , atau halaman yang sama pada jejaring sosial atau situs web pihak ketiga lainnya atau layanan interaktif.</dd>
          <dd class="ds-text">Kami juga dapat melengkapi informasi yang kami kumpulkan tentang Anda melalui Situs ini dengan informasi lain dari pihak ketiga dalam rangka meningkatkan kemampuan kami untuk melayani Anda, menyesuaikan konten situs kami dengan  Anda dan menawarkan Anda kesempatan untuk membeli produk atau layanan yang menarik bagi Anda. Kami dapat menggabungkan informasi yang kami terima dari pihak ketiga dengan informasi yang kami kumpulkan melalui Situs ini. Dalam kasus tersebut, kami akan menerapkan Kebijakan Privasi ini untuk Informasi pribadi, kecuali jika kami telah mengungkap sebaliknya.</dd>

          <dt class="ds-text">6. Akses dan Pilihan Anda</dt>
          <dd class="ds-text">Kami menawarkan berbagai pilihan mengenai pengumpulan, penggunaan, dan pembagian Informasi Pribadi Anda. Ketika Anda menerima publikasi promosi dari kami, Anda dapat memilih untuk berhenti menerima publikasi promosi lebih lanjut dari kami dan Anda akan memiliki kesempatan untuk ‘opt-out’  dengan mengikuti instruksi berhenti berlangganan yang disediakan dalam email promosi yang Anda terima atau dengan menghubungi kami langsung di customer care di 08041807807. PT Garuda Indonesia (PERSERO), Tbk. tidak mengenakan biaya untuk layanan ini, dan permintaan berhenti berlangganan Anda akan diproses dalam waktu 30 hari sejak kami menerima permintaan Anda.</dd>
          <dd class="ds-text">Diluar email terkait preferensi anda, kami dapat mengirimkan email administrasi mengenai Layanan ini, termasuk, misalnya, konfirmasi pembelian, konfirmasi pembuatan akun, dan pemberitahuan perubahan dalam ketentuan Perjanjian Penggunaan atau Kebijakan Privasi.</dd>
          <dd class="ds-text">Jika Anda ingin memverifikasi, mengoreksi, memperbarui atau menghapus salah satu Informasi Pribadi yang diberikan kepada kami, Anda dapat melakukannya dengan mengubah informasi dalam halaman Account Anda, atau dengan menghubungi kami di alamat email di atas. Sesuai dengan pencatatan rutin kami, kami dapat menghapus catatan tertentu yang berisi Informasi Pribadi yang Anda masukkan melalui Layanan ini. Harap dicatat bahwa kami mungkin perlu (oleh hukum atau sebaliknya) menyimpan informasi ini dan tidak menghapusnya (atau menyimpan informasi ini untuk waktu tertentu, dalam hal ini kami akan memenuhi permintaan penghapusan Anda setelah kami telah memenuhi persyaratan tersebut) . Anda harus menyadari bahwa tidak mungkin untuk selalu benar-benar menghapus atau menghapus seluruh informasi dari database kami tanpa beberapa data yang tersisa dalam arsip kami untuk data penyokong dan alasan lainnya.</dd>

          <dt class="ds-text">7. Tautan ke Situs Lain</dt>
          <dd class="ds-text">Tersedianya link ke situs-situs lain atau lokasi-lokasi lain dimaksudkan untuk kenyamanan Anda dan bukan merupakan bentuk dukungan kami terhadap website atau lokasi lain atau isi situs tersebut. Kami tidak mengatur, tidak memeriksa, dan tidak bertanggung jawab atas situs tersebut juga konten mereka. Situs tersebut mungkin mengirimkan Cookies mereka sendiri untuk perangkat Anda, Mereka secara independen dapat mengumpulkan data atau meminta informasi pribadi dan dapat memiliki atau tidak memiliki Kebijakan Privasi sendiri atau kebijakan-kebijakan lainnya. Perlu diketahui bahwa Kebijakan Privasi kami tidak berlaku untuk situs-situs lain. Anda juga secara independen harus menilai keaslian situs apapun yang menyerupai atau mengklaim bahwa situs tersebut adalah salah satu dari Situs kami (termasuk situs-situs yang terhubung dengan email atau halaman jaringan sosial).</dd>

          <dt class="ds-text">8. Cara Melindungi Informasi Pribadi</dt>
          <dd class="ds-text">Koneksi yang Anda akses merupakan Layanan link SSL terenkripsi (Secure Socket  Layer).Bagaimanapun juga, setelah melalui akses awal tersebut, disebabkan oleh peningkatan jumlah pengguna dari jalur akses Wi-Fi kami, PT Garuda Indonesia (PERSERO), Tbk. tidak menyediakan saluran komunikasi terenkripsi, seperti Wired Equivalent Privacy (WEP), atau Wi-Fi Protected Access (WPA2), diantara jalur akses Wi-Fi dalam penerbangan kami dan perangkat Anda. PT Garuda Indonesia (PERSERO), Tbk. mendukung akses terhadap Private Network Virtual (VPN) dan Secure Shell (SSH). Jika Anda memiliki VPN, PT Garuda Indonesia (PERSERO), Tbk. merekomendasikan agar Anda menggunakan protokol VPN untuk akses yang lebih aman. Website atau halaman SSL terenkripsi, pada umumnya ditandai dengan "https" pada kolom alamat dan ikon "kunci", dapat diakses secara umum melalui Layanan PT Garuda Indonesia (PERSERO), Tbk. Bagaimanapun Anda harus menyadari, bahwa paket data dari koneksi Wi-Fi yang tidak terenkripsi dapat ditangkap oleh sarana teknik yang mutakhir ketika mereka ditransmisikan dari perangkat pengguna dan jalur akses Wi-Fi. Oleh karena itu Anda harus mencegak tindakan yang menurunkan risiko keamanan Anda. PT Garuda Indonesia (PERSERO), Tbk. menyarankan agar Anda mengikuti praktik keamanan yang baik, seperti memastikan bahwa file-sharing tidak diaktifkan saat mengakses Internet dari jaringan publik tidak terenkripsi dan memastikan perangkat laptop anda memiliki firewall pribadi dan perlindungan terhadap malware lainnya. PT Garuda Indonesia (PERSERO), Tbk. merekomendasikan agar informasi sensitif atau rahasia tidak diakses atau dikirimkan melalui koneksi tidak terenkripsi. Sementara itu, PT Garuda Indonesia (PERSERO), Tbk. mengambil langkah-langkah yang wajar untuk melindungi keamanan Anda, perlu diketahui bahwa kami tidak dapat memastikan atau menjamin keamanan dari setiap informasi yang Anda berikan kepada kami, dan Anda bersedia menanggung  resiko Anda sendiri saat menggunakan Layanan ini dan saat memberi informasi pada kami.</dd>

          <dt class="ds-text">9. Izin untuk Memproses dan Mentransfer Informasi</dt>
          <dd class="ds-text">Dengan menggunakan Layanan ini, Anda setuju dengan Kebijakan Privasi ini dan Anda dengan jelas setuju untuk memproses Informasi Pribadi Anda sesuai dengan Kebijakan Privasi ini.</dd>
          <dd class="ds-text">Jika Anda adalah pengguna yang berada di luar Amerika Serikat, perlu diketahui bahwa informasi yang kami kumpulkan dapat ditransfer dan diproses di Amerika Serikat. Dengan menggunakan Layanan ini, atau dengan menyediakan informasi apapun untuk kami, Anda menyetujui untuk melakukan pengumpulan, pengolahan pemeliharaan, dan pengalihan informasi tersebut di dan ke Amerika Serikat dan wilayah lainnya di mana berlaku undang-undang privasi yang mungkin tidak sekomprehensif atau setara dengan, undang-undang privasi di negara mana Anda berada dan / atau berasal.</dd>

          <dt class="ds-text">10. Anak</dt>
          <dd class="ds-text">Kami tidak dengan sengaja mengumpulkan informasi pribadi mengenai Pengguna yang berada di bawah usia 13. Jika kami mengetahui bahwa kami dengan tidak sengaja mengumpulkan informasi pribadi dari seorang anak di bawah usia 13, kami akan melakukan upaya yang wajar untuk menghapus informasi tersebut dari catatan kami.</dd>

          <dt class="ds-text">11. Cara Menghubungi Kami</dt>
          <dd class="ds-text">Jika Anda memiliki pertanyaan atau masalah tentang Kebijakan Privasi ini, anda dapat menghubungi kami di customer care at 08041807807.</dd>

          <dt class="ds-text">12. Pembaharuan Kebijakan Privasi</dt>
          <dd class="ds-text">Kebijakan Privasi ini dan informasi lainnya dalam Situs ini dapat diperbarui secara berkala tanpa pemberitahuan sebelumnya kepada Anda, dan setiap perubahan akan efektif sesaat setelah waktu posting dari revisi Kebijakan Privasi dalam Situs ini. Bagaimanapun juga, kami akan menggunakan Informasi Pribadi dengan cara yang konsisten dengan Kebijakan Privasi yang berlaku pada saat Anda mengirimkan informasi, kecuali Anda setuju dengan revisi atau pemberitahuan yang  baru. Kami akan menempatkan pemberitahuan tersebut dengan cara yang menarik perhatian dalam Situs ini untuk memberitahu Anda tentang perubahan yang signifikan dari Kebijakan Privasi dan menunjukkan keterangan tentang Kebijakan Privasi yang terbaru.</dd>

        </dl>
  </div>
</section>

<!-- End Privacy Policy -->