<!-- CAPTCHA SETTINGS START -->
<script id="captcha-form" class="ae-comp" data-type="captcha" type="text/template" >{"successUrl":"https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID","errorUrl": "#errorUrl","msgConfig": {"errorMessage": "Error message","challengeNotValid": "Kata yang Anda masukkan salah. Mohon coba lagi."}}</script>
<!-- CAPTCHA SETTINGS END -->
<div class="garuda-container-page garuda-general-background">
  <div class="garuda-security-header">
      <div id="garuda-security-icon-lock">
          <img src="../project_media/portal_media/img/mobile/sc_lock.png" alt="lock" />
      </div>
      <span>Pemeriksaan Keamanan</span>
  </div>
  <div id="garuda-security-content">
      <div id="garuda-security-content-item1">
          <p id="garuda-security-item1-txt" class="ds-text">Untuk melanjutkan, silahkan masukkan kode keamanan dan klik "lanjutkan." Anda akan terhubungkan ke laman pembelian yang dikelola oleh T-Mobile. Catatan: Cookies pada browser harus diaktifkan untuk memungkinkan validasi keamanan</p>
          <div id="garuda-security-captcha">
              <img id="garuda-security-captcha-img" class="garuda-security-captcha-item captcha form-component" data-form="captcha-form" src="#ImageUrl"  alt="*" />
              <div id="garuda-security-captcha-txt" class="garuda-security-captcha-item">
                  <div id="garuda-security-cant" class="ds-text">Tidak bisa membaca kata ini?</div>
                  <div id="garuda-security-refresh" class="garuda-font12">
                      <button class="captcha form-component refresh-button garuda-security-button" data-form="captcha-form"  href="#">
                        Memuat ulang
                      </button>
                  </div>
                  <div id="garuda-security-refresh-icon">
                      <img src="../project_media/portal_media/img/desktop/sc_refresh.png" alt="refresh" />
                  </div>
              </div>
          </div>
          <div id="garuda-security-enter-code">
              <label>Masukan kode keamanan</label>
              <input class="captcha form-component text-input text" data-form="captcha-form" type="text" data-validator="required" data-error-message="Please enter the Captcha text" />
              <p class="ds-text">Dengan menekan "Lanjutkan", Saya mengakui syarat dan ketentuan untuk menggunakan servis ini</p>
              <input class="captcha form-component checkbox" data-form="captcha-form"  data-validator="required" data-error-message="Checkbox needs to be checked" type="checkbox"/>
              <div class="itk-input itk-submit">
                <button class="captcha form-component submit-button garuda-security-button" data-form="captcha-form">Lanjutkan</button>
              </div>
              <div class="captcha form-component error-display-field" data-form="captcha-form"></div>
          </div>
      </div>
      <div id="garuda-security-content-item2" class="garuda-font12">
          <p class="ds-text">
              <span class="garuda-security-p-title">Mengapa kode keamanan ini diperlukan?</span>
              Dengan meminta Anda memasukkan kode keamanan, kami dapat memastikan bahwa ini bukan tindakan yang dilakukan oleh komputer.
          </p>
          <p class="ds-text"><span class="garuda-security-p-title">Syarat dan Ketentuan</span></p>
          <p class="ds-text">Dengan ini saya mengakui bahwa Voice over Internet Protocol, juga dikenal sebagai VoIP, tidak diizinkan selama penerbangan sebagai pertimbangan untuk penumpang lainnya di dalam pesawat.</p>
          <p class="ds-text">Dengan mengirimkan kode keamanan, saya menyetujui bahwa komunikasi-komunikasi yang mengidentifikasi informasi * (call data record) yang dihasilkan dari penggunaan internet selama penerbangan ini akan ditransfer ke Panasonic Avionics Corporation (Panasonic), 26200 Enterprise Way, Lake Forest, CA 92606 United States, dalam rangka untuk mematuhi hukum yang berlaku. Panasonic akan menyediakan lembaga hukum yang telah ditunjuk untuk mengakses ke data ini bila diperlukan.</p>
          <p class="ds-text">IP address yang ditetapkan, memulai dan mengakhiri penggunaan</p>
      </div>
      <div id="garuda-security-airline">
          <p><a href="#home"><img src="../project_media/portal_media/img/mobile/hd_garuda_indonesia.png" alt="garudaIndonesia"></a></p>
      </div>
  </div>
</div>
