<!-- Shop -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton-ind">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">&nbsp;
    </a>
  </div>
  <p class="ds-text">Belanja</p>
</div>

<section id="garuda-shopPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Garuda Shop on Board</div>
  <div class="garuda-intCommonText garuda-font12">
    <p class="ds-text">Nikmati kemudahan berbelanja di udara melalui Garuda Shop on Board. Temukan sesuatu untuk anda atau orang terdekat anda melalui berbagai produk berkualitas dari kami, mulai dari aksesoris kecantikan, mainan, elektronik hingga barang-barang penting untuk perjalanan.</p>
    <p class="ds-text">Atau ketika anda tidak mendapatkan kesempatan membeli oleh-oleh untuk seseorang di tempat tujuan Anda, kami juga menawarkan souvenir terbaik dari Indonesia dan barang-barang spesial dari kami yang dapat anda pilih. Hadiah sempurna untuk setiap saat. Berbelanjalah dengan kami dan rasakan pengalaman bersama Garuda Indonesia!</p>
  </div>
  <div class="garuda-subTitle garuda-font12">
    <p class="garuda-subTitleStart ds-text" >Cara Untuk Membeli</p>
    <p class="ds-text">Untuk melihat katalog kami, silahkan lihat melalui layar pribadi IFE Anda dan membeli item yang diinginkan melalui Flight Attendants kami.</p>
  </div>
</section>

<!-- Shop -->