<!-- Terms And Conditinos -->

<div id="garuda-headMainTitle" class="garuda-font16">
  <div id="garuda-backButton-ind">
    <a href="#landing-page" class="itk-navigation itk-button">&nbsp;</a>
  </div>
  <div id="garuda-wirelessHead">
    <a class="ae-comp current itk-navigation itk-button" target="_blank" data-type="wispUrl"
       data-captcha-page="captcha" data-href="#captcha"
       href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">&nbsp;
    </a>
  </div>
  <p class="ds-text">Syarat dan Kondisi</p>
</div>

<section id="garuda-termsAndConditionsPage" class="garuda-generalBackground garuda-commonPages">
  <div class="garuda-intTitle ds-text">Garuda Inflight Connectivity Internet Service Terms of Use Agreement</div>
  <div class="garuda-intCommonText garuda-font12">
    <dl>
          <dt class="ds-text">Perjanjian Syarat dan Kondisi Layanan Internet Garuda Inflight Connectivity</dt>
          <dd class="ds-text">
            <ol>
              <li>Apakah Syarat dan Ketentuan dari Garuda Inflight Connectivity?</li>
              <li>Penggunaan Layanan </li>
              <li>Syarat dan Penghentian </li>
              <li>Fees and Charges </li>
              <li>Kepemilikan Hak </li>
              <li>Penggunaan dan Perilaku yang Diterima </li>
              <li>Privasi dan Keamanan </li>
              <li>Penyangkalan </li>
              <li>Batasan pada Kewajiban </li>
              <li> Ganti Rugi</li>
              <li> Umum</li>
            </ol>
          </dd>

          <dt class="ds-text">1. Apakah Syarat dan Kondisi dari Garuda Inflight Connectivity?</dt>
          <dd class="ds-text">Layanan Garuda Inflight Connectivity (<strong>“Layanan”</strong>) disediakan oleh PT Garuda Indonesia (Persero), Tbk. (<strong>“PT Garuda Indonesia (Persero), Tbk.”</strong> atau <strong>“kami”</strong>). Sebagai bagian dari servis, PT Garuda Indonesia (Persero), Tbk. Menyediakan sebuah portal situs web (“Situs”) yang dapat diakses ketika Anda pertama kali mengakses Layanan dan setelah Anda log in ke Layanan. Perjanjian Syarat dan Ketentuan, Kebijakan Privasi, dan peraturan lainnya yang dipasang di Situs atau dalam hubungannya dengan Layanan, menetapkan syarat yang mengikat secara hukum untuk penggunaan Layanan tersebut. Jika Anda adalah seorang individu yang menggunakan Layanan atas nama organisasi, Anda mewakili dan menjamin bahwa Anda memiliki semua otoritas yang diperlukan untuk mengikat organisasi (selanjutnya secara bersama disebut sebagai "Anda") dengan syarat dan ketentuan Perjanjian ini. Silakan membaca Perjanjian dengan seksama sebelum mendaftar atau menggunakan Layanan. Perjanjian ini adalah perjanjian yang mengikat secara hukum antara Anda dan PT Garuda Indonesia (Persero), Tbk. Dengan melanjutkan untuk membuat Akun atau menggunakan Layanan, Anda setuju untuk terikat dengan syarat dan ketentuan Perjanjian ini.</dd>

          <dt class="ds-text">2. Penggunaan Layanan</dt>
          <dd class="ds-text"><strong>2.1 Umum.</strong> Untuk menggunakan Layanan (dan menjadi "Pengguna"), Anda harus (a) membuat akun Layanan ("Rekening") dengan mendaftar di Situs menjadi pengguna terdaftar dari Layanan, atau (b) menandatangani ke atau menggunakan Layanan sebagai Pengguna Partner Roaming, melalui account yang ada dengan Mitra Roaming. Sebuah "Partner Roaming" adalah sebuah perusahaan (biasanya aggregator hotspot atau perusahaan telekomunikasi) yang memiliki perjanjian dengan PT Garuda Indonesia (Persero), Tbk. untuk menyediakan Layanan kepada pelanggan ("Pengguna Roaming Partner") di bawah ketentuan Perjanjian ini. Setiap "Roaming Partner Pengguna" adalah "Pengguna" di bawah Perjanjian ini. Jika Anda seorang Pengguna Partner Roaming, Anda harus sesuai dengan kesepakatan Anda dengan M</dd>

          <dd class="ds-text"><strong>2.2 PT Garuda Indonesia (Persero), Tbk. Akun</strong> Dengan membuat Akun, Anda mewakili dan menjamin kepada PT Garuda Indonesia (Persero), Tbk. dan maskapai yang Anda menggunakan Layanan ("Airline") bahwa: (a) semua informasi pendaftaran untuk Akun Anda (termasuk, namun tidak terbatas pada, informasi pembayaran) Anda kirimkan adalah benar dan akurat, dan (b) Anda akan menjaga keakuratan informasi tersebut. Ketika Anda mendaftar untuk mendirikan Akun, Anda juga akan diminta untuk memilih nama login dan password untuk akun Anda. Anda sepenuhnya bertanggung jawab untuk menjaga kerahasiaan password Anda. Anda setuju untuk tidak menggunakan rekening, nama login, atau password pengguna lain. Anda setuju untuk memberitahukan PT Garuda Indonesia (Persero), Tbk. segera jika Anda mencurigai adanya penggunaan yang tidak sah dari Akun Anda atau akses ke password Anda. Anda bertanggung jawab penuh atas setiap dan semua rekening Anda, termasuk, tanpa batasan, setiap biaya yang bertambah untuk setiap penggunaan Akun Anda.</dd>

          <dd class="ds-text"><strong>2.3 Pembatasan.</strong> Anda setuju untuk tidak menjual kembali atau mencoba untuk menjual kembali seluruh atau sebagian Layanan ini, untuk mengambil keuntungan atau sebaliknya, berbagi alamat Internet Protocol ("IP adress") atau mengkoneksikan Layanan ini dengan siapa pun, mengakses Layanan secara bersamaan melalui beberapa perangkat atau mengotorisasi individu lain atau badan lain untuk menggunakan Layanan ini. Anda setuju bahwa berbagi Layanan ini dengan orang lain (termasuk setiap orang dalam keluarga Anda atau organisasi Anda) merupakan pelanggaran perjanjian dan dapat dikategorikan sebagai tindakan curang atau pencurian, dimana kami berhak menerima ganti rugi. Anda dapat menggunakan hanya satu perangkat pada satu waktu. Anda tidak memiliki hak milik atau kepemilikan ke alamat IP tertentu atau alamat lainnya, log-in nama, atau kata sandi yang Anda gunakan pada Layanan ini. Kami akan menetapkan alamat IP, yang mungkin bervariasi, setiap kali Anda mengakses Layanan ini. Anda tidak akan memprogram alamat IP lainnya ke dalam perangkat Anda. Layanan ini hanya tersedia pada pesawat-pesawat tertentu, kecuali jika PT Garuda Indonesia (Persero), Tbk. secara tertulis menyatakan sebaliknya. Anda dapat menggunakan Layanan ini hanya dengan perangkat elektronik yang diizinkan oleh Perusahaan Penerbangan.</dd>

          <dd class="ds-text"><strong>2.4 Tidak Tersedianya Aplikasi Suara.</strong> Anda tidak akan menggunakan semua jenis aplikasi suara (termasuk voice over internet protocol) tanpa izin tertulis dari PT Garuda Indonesia (Persero), Tbk ..</dd>

          <dd class="ds-text"><strong>2.5 Kebutuhan Hardware.</strong> Laptop yang kompatibel, baik personal digital assistant (PDA) maupun perangkat genggam yang memiliki kapabilitas WI-FI, diperlukan untuk mengoperasikan Layanan ini. Anda bertanggung jawab untuk setiap biaya atau biaya yang terkait dengan perangkat dan penggunaan perangkat. Anda harus memastikan perangkat Anda kompatibel dengan Layanan ini. Anda bertanggung jawab untuk memastikan perangkat yang digunakan memiliki koneksi radio WI-FI.</dd>

          <dd class="ds-text"><strong>2.6 Layanan Tambahan.</strong> Layanan tambahan dapat dikenakan persyaratan tambahan. PT Garuda Indonesia (Persero), Tbk. akan memberitahu Anda ketentuan tambahan saat Anda mendaftar untuk layanan tersebut. Kecuali telah ditentukan bahwa setiap layanan tambahan akan dianggap sebagai bagian dari Layanan ini.</dd>

          <dd class="ds-text"><strong>2.7 Layanan Pihak Ketiga.</strong> Layanan ini memungkinkan Anda untuk mengakses Layanan Internet tertentu dan konten yang disediakan oleh pihak ketiga yang Anda memiliki hubungan tidak langsung dengan pihak ketiga tersebut ("Layanan Pihak Ketiga"). Seperti dijelaskan dalam Perjanjian ini, bagaimanapun, Anda setuju bahwa PT Garuda Indonesia (Persero), Tbk. memikul tanggung jawab atas Layanan Pihak Ketiga tersebut atau Anda melanjutkan akses kepada mereka melalui Layanan ini. Anda bertanggung jawab atas setiap biaya akses atau penggunaan Layanan dari Pihak Ketiga. Anda dengan ini menyatakan dan menjamin bahwa Anda berh untuk mengakses dan menggunakan Layanan Pihak Ketiga tersebut melalui Layanan ini dan bahwa Anda menggunakan Layanan Pihak Ketiga sesuai dengan persyaratan penggunaan yang berlaku.</dd>

          <dt class="ds-text">3. Syarat dan Penghentian Akun</dt>
          <dd class="ds-text">Perjanjian ini dimulai pada akses pertama Anda ke Situs ini atau penggunaan pertama Layanan ini dan akan tetap berlaku sepenuhnya kecuali dan sampai (a) Akun Anda dihentikan (b) Anda menghentikan penggunaan Layanan ini, jika Anda seorang pengguna Partner Roaming. Anda dapat mengakhiri Akun Anda setiap saat, dengan alasan apapun dengan mengikuti petunjuk pada halaman web Akun. PT Garuda Indonesia (Persero), Tbk. dapat menghentikan Akun Anda dan / atau berhenti menyediakan Layanan kepada Anda dengan segera: (i) jika Anda melanggar Perjanjian ini, (ii) jika PT Garuda Indonesia (Persero), Tbk. memutuskan atas kebijakannya sendiri untuk menghentikan penyediaan Layanan secara keseluruhan, atau (iii) untuk alasan apapun atau tanpa alasan apapun, kami akan memberikan Anda setidaknya tiga (3) hari untuk menerima pemberitahuan terlebih dahulu dengan mengirimkan email kepada Anda pada alamat email di Akun Anda.</dd>
          <dd class="ds-text">Jika Anda menghentikan Akun Anda atau PT Garuda Indonesia (Persero), Tbk. mengakhiri Akun Anda sesuai dengan ayat "(i)" atau "(ii)" di atas, PT Garuda Indonesia (Persero), Tbk. tidak berkewajiban untuk mengembalikan biaya apapun. Jika PT Garuda Indonesia (Persero), Tbk. mengakhiri Akun Anda sesuai dengan ayat "(iii)" di atas, PT Garuda Indonesia (Persero), Tbk. akan mengembalikan Anda pro-rate (berdasarkan proporsi hari yang tersisa jika anda berlangganan lebih dari satu hari) dari biaya yang Anda telah bayar untuk berlangganan. Anda memahami bahwa setiap penghentian Akun Anda mungkin melibatkan penghapusan informasi Akun Anda dari database kami dan semua informasi yang tersimpan untuk Akun tersebut. PT Garuda Indonesia (Persero), Tbk. tidak memiliki kewajiban apapun atas pemutusan akun Anda atau Layanan ini, atau penghapusan terkait informasi Anda. PT Garuda Indonesia (Persero), Tbk. dapat memodifikasi, menghentikan sementara atau menghentikan Layanan setiap saat, untuk alasan apapun, dalam kebijakan kami.</dd>

          <dt class="ds-text">4. Biaya</dt>
          <dd class="ds-text"><strong>4.1 Umum.</strong> Biaya yang dibayar untuk Layanan ini tidak dapat dikembalikan, kecuali seperti yang tercantum dalam Bagian 3 di atas. Jika Anda seorang Pengguna Partner Roaming, Anda harus membayar semua biaya untuk Layanan ini kepada Partner Roaming berlaku. Jika Anda bukan Pengguna Partner Roaming, bagian ini berlaku untuk Anda. Anda setuju untuk membayar kepada PT Garuda Indonesia (Persero), Tbk. semua biaya untuk Layanan ini, termasuk, namun tidak terbatas pada, biaya untuk berlangganan (misalnya, penggunaan, harian, bulanan), pajak, dan biaya lainnya (seperti penjualan, penggunaan, cukai, utilitas publik dan pajak lainnya) yang dipungut oleh pemerintah domestik maupun asing. PT Garuda Indonesia (Persero), Tbk. berhak untuk mengubah biaya dari waktu ke waktu sesuai dengan kebijakannya. Biaya untuk Layanan ini akan dimasukan dalam tagihan kartu kredit yang telah Anda tentukan untuk pembayaran Layanan ini. PT Garuda Indonesia (Persero), Tbk. tidak bertanggung jawab atas pengeluaran atau biaya (misalnya untuk melebihi batas kartu kredit) yang dihasilkan dari biaya penggunaan dan biaya yang ditagih oleh PT Garuda Indonesia (Persero), Tbk .. PT Garuda Indonesia (Persero), Tbk., dalam kebijakannya sendiri, menangguhkan atau membatalkan Rekening yang memiliki tunggakan dan/atau menolak akses pemegang Rekening tersebut.</dd>

          <dd class="ds-text"><strong>4.2 Penagihan dan Pembayaran Biaya.</strong> Anda memberi kewenangan pada PT Garuda Indonesia (Persero), Tbk. (melalui pemrosesan penyedia kartu pembayaran) untuk memasukan tagihan Layanan ini ke kartu kredit yang Anda berikan dalam Akun Anda. PT Garuda Indonesia (Persero), Tbk. akan mengirimkan tanda terima ke alamat email yang terdaftar di akun Anda.</dd>

          <dd class="ds-text"><strong>4.3 Sengketa Pembayaran.</strong> Jika Anda yakin telah dikenakan biaya yang salah, Anda harus memberitahukan kami biaya yang disengketakan tersebut dalam waktu yang diatur dalam perjanjian kartu kredit Anda atau Anda melepaskan hak Anda untuk membantah tuduhan tersebut. Silahkan hubungi PT Garuda Indonesia (Persero), Tbk. Customer Care di 08041807807, agar kami dapat meninjau akun Anda. PT Garuda Indonesia (Persero), Tbk. mungkin mengharuskan Anda untuk menuliskan sengketa secara tertulis. Setiap komunikasi tertulis mengenai jumlah utang yang disengketakan harus dikirim ke: PT Garuda Indonesia (Persero), Tbk.</dd>

          <dt class="ds-text">5. Hak Kepemilikan</dt>
          <dd class="ds-text">Anda mengakui bahwa semua hak kekayaan intelektual dalam Layanan dan teknologi yang mendasari, dan semua konten di Situs ini dimiliki oleh PT Garuda Indonesia (Persero), Tbk., atau milik lisensi PT Garuda Indonesia (Persero), Tbk. Semua hak yang tidak dilisensikan secara terbuka adalah terbatas. Anda setuju untuk tidak memproduksi ulang (kecuali untuk melihat konten di Situs ini untuk keperluan pribadi Anda), merekayasa balik, memodifikasi, atau membuat karya turunan berdasarkan, isi Layanan atau Situs ini. Kecuali secara tegas diatur dalam perjanjian ini, Anda setuju untuk tidak menyewa, menyewakan, meminjamkan, atau menjual akses ke Layanan ini atau menyediakan Layanan kepada pihak ketiga pada lembaga lain atau time sharing basis atau sebaliknya.</dd>

          <dt class="ds-text">6. Penggunaan dan Perilaku yang Diterima</dt>
          <dd class="ds-text"><strong>6.1. Kebijakan Penggunaan.</strong> Anda setuju untuk mematuhi kebijakan penggunaan milik PT Garuda Indonesia (Persero), Tbk. (<strong>"Kebijakan Penggunaan"</strong>), seperti yang dijelaskan di bawah ini. Anda tidak akan menggunakan Layanan untuk (atau membantu orang lain untuk):</dd>
          <dd class="ds-text">a. Membahayakan atau membuat ancaman yang merugikan orang lain atau property milik orang lain;</dd>
          <dd class="ds-text">b. Melakukan pelecehan terhadap orang lain;</dd>
          <dd class="ds-text">c. Melanggar hukum yang berlaku, termasuk melakukan hal-hal yang berkaitan dengan pengendalian ekspor, spam, perjudian,perbuatan tidak senonoh, atau akses komputer;</dd>
          <dd class="ds-text">d. Terlibat dalam penipuan atau misrepresentasi;</dd>
          <dd class="ds-text">e. Memberi informasi instruksional tentang kegiatan ilegal;</dd>
          <dd class="ds-text">f. Mencampuri, mengganggu, atau membuat beban yang tidak semestinya pada Layanan ini (atau jaringan atau komputer yang menyediakan layanan yang sama);</dd>
          <dd class="ds-text">g. Menyalahi atau melanggar hak-hak orang lain, termasuk privasi dan hak kekayaan intelektual;</dd>
          <dd class="ds-text">h. Membiarkan pengguna  yang belum membayar biaya untuk Layanan ini mengakses atau menggunakan Layanan ini pada komputer miliknya atau sebuat perangkat melalui komputer atau perangkat lainnya;</dd>
          <dd class="ds-text">i. Mengakses atau menampilkan konten yang menyinggung pihak lain pada komputer atau perangkatanda, dalam pandangan orang lain;</dd>
          <dd class="ds-text">j. Dengan sadar mendistribusikan virus atau malware lainnya;</dd>
          <dd class="ds-text">k. Mengakses jaringan atau komputer (termasuk pihak yang menyediakan Layanan ini) melebihi ijin yang diberikan kepada anda;</dd>
          <dd class="ds-text">l. Memonitor (melalui, misalnya, sniffers) setiap lalu lintas jaringan tanpa izin tertulis dari pemilik jaringan dan  pihak-pihak ‘dalam komunikasi’;</dd>
          <dd class="ds-text">m. Mencoba untuk mendekripsikan setiap komunikasi terenkripsi atau  yang terpecah-pecah;</dd>
          <dd class="ds-text">n. Memperkenalkan perangkat lunak atau agen otomatis ke Layanan ini, atau</dd>
          <dd class="ds-text">o. Mencoba untuk meniru karyawan orang lain, termasuk PT Garuda Indonesia (Persero), Tbk..</dd>

          <dd class="ds-text"><strong>6.2 Pelanggaran.</strong> PT Garuda Indonesia (Persero), Tbk. berhak (tetapi tidak berkewajiban) untuk menyelidiki dan mengambil tindakan yang tepat sesuai kebijakannya terhadap Anda jika Anda melanggar Kebijakan Penggunaan miliki PT Garuda Indonesia (Persero), Tbk. atau ketentuan lainnya dari Perjanjian ini, termasuk tanpa batasan, menolak untuk menyediakan akses dan penggunaan Layanan ini untuk Anda, mengakhiri Akun Anda, melaporkan Anda ke Partner Roaming berlaku, mitra kami yang lain, atau pihak penegak hukum, dan mengambil tindakan hukum terhadap Anda.</dd>

          <dd class="ds-text"><strong>6.3 Batas Penggunaan dan Manajemen Jaringan.</strong> PT Garuda Indonesia (Persero), Tbk. bertujuan untuk memastikan bahwa setiap pengguna mendapatkan pelayanan terbaik. Untuk tujuan tersebut, PT Garuda Indonesia (Persero), Tbk. dapat memprioritaskan, membatasi, atau menentukan batasan (seperti alokasi bandwidth, atau batasan pada jenis konten yang diakses atau ditransfer) pada penggunaan Layanan ini untuk aplikasi tertentu. Pada saat penggunaan jaringan yang berat, hal ini dapat mempengaruhi fungsi aplikasi dengan bandwidth tinggi. Seperti dengan jaringan mobile broadband, kecepatan dapat bervariasi tergantung dengan jenis perangkat Anda, kondisi atmosfer, medan, kapasitas jaringan, dan lokasi pesawat. Konten dan menggunakan membutuhkan bandwidth yang tinggi, seperti multi-player game, file sharing, dan streaming audio dan video, dapat diberikan prioritas yang lebih rendah dan kadang-kadang mungkin diblokir atau tidak bekerja secara konsisten. Layanan tersedia hanya ketika berada dalam rentang operasi dari PT Garuda Indonesia (Persero), Tbk. sistem atau dari operator dengan yang PT Garuda Indonesia (Persero), Tbk. memiliki perjanjian roaming yang berlaku. PT Garuda Indonesia (Persero), Tbk. cakupan lokasi dan peta dapat berubah sewaktu-waktu tanpa pemberitahuan. Cakupan layanan yang sebenarnya, kecepatan, lokasi, dan kualitas dapat bervariasi. Layanan tunduk pada ketidaktersediaan, termasuk keadaan darurat, kegagalan pihak ketiga layanan, peralatan transmisi, atau masalah jaringan atau keterbatasan, gangguan, kekuatan sinyal, pemeliharaan dan perbaikan, dan isu-isu keamanan nasional, dan dapat terganggu, menolak, terbatas, atau dikurangi.</dd>

          <dd class="ds-text"><strong>6.4 Konten.</strong> Kami bukan penerbit konten dari pihak ketiga yang diakses melalui Layanan, dan tidak bertanggung jawab atas akurasi, isi, ketepatan waktu, atau pengiriman setiap pendapat, saran, pernyataan, pesan, layanan, citra, grafik, data, atau lainnya informasi yang diberikan kepada atau oleh pihak ketiga sebagai diakses melalui Layanan atau Layanan pihak Ketiga.</dd>

          <dt class="ds-text">7. Privasi dan Keamanan</dt>
          <dd class="ds-text"><strong>7.1 Privasi.</strong> Penggunaan Layanan ini juga diatur oleh Kebijakan Privasi kami, yang dimasukkan ke dalam Perjanjian ini dengan referensi ini</dd>
          <dd class="ds-text"><strong>7.2 Keamanan.</strong> Baik PT Garuda Indonesia (Persero), Tbk. atau Airline jaminan keamanan. Jika Anda menggunakan Layanan untuk mengakses email organisasi Anda atau informasi, itu adalah tanggung jawab Anda untuk memastikan bahwa penggunaan Anda sesuai dengan teknologi informasi internal organisasi Anda dan prosedur keamanan. Kita mungkin, karena persyaratan hukum atau kontrak, menghapus, blok, filter, atau membatasi dengan cara apapun, bahan atau informasi (termasuk namun tidak terbatas pada email) bahwa kita atau Airline menganggap menjadi aktual atau potensial pelanggaran pembatasan yang diatur dalam Perjanjian ini, termasuk, namun tidak terbatas pada kegiatan-kegiatan yang dapat dikenai PT Garuda Indonesia (Persero), Tbk., Airline, atau salah satu dari pelanggan mereka untuk kewajiban atau bahaya.</dd>

          <dd class="ds-text"><strong>7.3 Pengakuan Menyaring dan Pembatasan Akses ke Pornografi atau Bahan Serangan atau Tidak Menyenangkan lainnya.</strong> Anda secara khusus mengakui dan setuju bahwa PT Garuda Indonesia (Persero), Tbk. mungkin, sebagai insiden yang diperlukan penyediaan Layanan, atau sebagaimana diharuskan maupun diizinkan oleh hukum, atau dengan tegas diatur dalam Perjanjian ini, menggunakan teknologi maju dan memblokir sarana teknis, administratif atau logis lain yang tersedia untuk itu, untuk mengidentifikasi, memeriksa, menghapus, blok, filter, atau membatasi setiap penggunaan, bahan atau informasi (termasuk namun tidak terbatas pada email) yang kita anggap sebagai pelanggaran aktual atau potensial dari pembatasan pada penggunaan yang ditetapkan dalam Perjanjian ini, termasuk, namun tidak terbatas pada, orang-orang kegiatan yang dapat dikenai PT Garuda Indonesia (Persero), Tbk. atau pelanggan untuk kewajiban atau bahaya, atau bahan yang mungkin tidak senonoh, cabul, mesum, kotor, kekerasan berlebihan, pornografi, melecehkan, atau tidak pantas.</dd>

          <dt class="ds-text">8. Penyangkalan</dt>
          <dd class="ds-text">Layanan disediakan "seperti adanya/ kondisi aktual" dan sebagai tersedia. PT Garuda Indonesia (Persero), Tbk, Airline., dan penyedia Layanan, mitra, dan afiliasinya tegas melepaskan setiap jaminan dan kondisi apapun, baik tersurat maupun tersirat, termasuk, namun tidak terbatas pada, jaminan atau kondisi yang dapat diperjualbelikan, kesesuaian untuk tujuan tertentu, judul, tenang kenikmatan, akurasi, atau non-pelanggaran. PT Garuda Indonesia (Persero), Tbk, Airline (dan masing-masing penyedia layanan mereka) tidak menjamin bahwa: (a) Layanan akan memenuhi kebutuhan Anda, (b) Layanan akan tersedia pada, terganggu tepat waktu, aman, atau kesalahan-bebas dan kode berbahaya secara bebas, atau (c) hasil yang mungkin diperoleh dari penggunaan Layanan akan akurat atau dapat diandalkan. PT Garuda Indonesia (Persero), Tbk. dan Airline tidak mengendalikan bahan, informasi, produk, atau jasa di Internet yang disediakan oleh pihak ketiga, beberapa di antaranya mungkin menyinggung Anda. Anda bertanggung jawab penuh untuk menilai dan mengevaluasi kelengkapan, akurasi, dan kegunaan dari semua bahan tersebut, informasi, produk, atau jasa, dan diperjualbelikan dan kualitas. Anda secara tegas mengakui bahwa ada keamanan tertentu, kerahasiaan, dan risiko privasi yang melekat dalam komunikasi nirkabel dan teknologi, dan PT Garuda Indonesia (Persero), Tbk. dan Airline tidak membuat jaminan atau jaminan yang berhubungan dengan risiko tersebut.</dd>
          <dd class="ds-text">Anda mengakui bahwa pihak ketiga yang menyediakan Layanan Pihak Ketiga mungkin, setiap saat, mengubah cara-cara yang Layanan Pihak Ketiga diakses, dan akibatnya, kemampuan Anda untuk menggunakan Layanan untuk memfasilitasi akses Anda ke Layanan Pihak Ketiga mungkin sementara atau cacat permanen. Anda setuju bahwa PT Garuda Indonesia (Persero), Tbk. dan Airline tidak bertanggung jawab atau kewajiban kepada Anda apapun, dalam kaitannya dengan Layanan Pihak Ketiga atau akses terus Layanan Pihak Ketiga, dan bahwa PT Garuda Indonesia (Persero), Tbk. dan Airline tidak membuat pernyataan atau jaminan sehubungan dengan Layanan Pihak Ketiga.</dd>

          <dt class="ds-text">9. Batasan Kewajiban</dt>
          <dd class="ds-text">Dalam hal apapun PT Garuda Indonesia (Persero), Tbk. atau Airline bertanggung jawab kepada Anda atau pihak ketiga atas keuntungan yang hilang atau apapun, tidak langsung konsekuensial, teladan, insidental, kerusakan khusus, atau hukuman yang timbul dari penggunaan Layanan oleh Anda, bahkan jika PT Garuda Indonesia (Persero), Tbk. atau Airline telah diberitahukan mengenai kemungkinan kerusakan tersebut. Tanpa mengabaikan hal yang bertentangan yang tercantum di sini, PT Garuda Indonesia (Persero), Tbk dan. Kewajiban Airlines (Termasuk namun tidak terbatas pada mitra dan afiliasinya) kepada Anda untuk kerugian yang timbul dari atau terkait dengan penggunaan Layanan (untuk alasan apapun dan terlepas dari bentuk aksi), akan setiap saat akan terbatas pada lebih dari lima puluh Dolar AS ($ 50) atau jumlah yang dibayarkan kepada PT Garuda Indonesia (Persero), Tbk. dalam dua belas (12) bulan sebelum akrual klaim, jika ada.</dd>
          <dd class="ds-text">Beberapa yurisdiksi tidak mengizinkan pembatasan atau pengecualian dari kewajiban untuk kerusakan insidental atau konsekuensial, sehingga pembatasan atau pengecualian di atas mungkin tidak berlaku bagi Anda, dan Anda juga mungkin memiliki hak hukum lain yang berbeda dari yurisdiksi ke yurisdiksi.</dd>

          <dt class="ds-text">10. Ganti Rugi</dt>
          <dd class="ds-text">Anda setuju untuk membela, melindungi dan mengganti kerugian PT Garuda Indonesia (Persero), Tbk, anak perusahaan, afiliasi, petugas, agen, pemegang lisensi, dan mitra lainnya dan karyawan., Dari segala kerugian, kewajiban, klaim, atau permintaan, termasuk wajar biaya pengacara, yang dilakukan oleh pihak ketiga karena atau yang timbul dari penggunaan Layanan tersebut, karena atau yang timbul dari pelanggaran Anda terhadap Perjanjian ini dan / atau karena atau akibat dari pelanggaran Anda dari setiap ketentuan Perjanjian ini.</dd>

          <dt class="ds-text">11. Umum</dt>
          <dd class="ds-text"><strong>11.1 Kelangsungan.</strong> Ketentuan dalam Bagian 8, 9 dan 10 akan tetap berlaku setelah pengakhiran Perjanjian ini karena alasan apapun.</dd>
          <dd class="ds-text"><strong>11.2 Hukum dan Tempat.</strong> Perjanjian ini akan diatur oleh hukum Negara Bagian Illinois, tanpa mempengaruhi setiap konflik prinsip-prinsip hukum yang dapat memberikan penerapan hukum yurisdiksi yang lain. Setiap klaim atau sengketa satu pihak memiliki terhadap pihak lain yang timbul berdasarkan atau berkaitan dengan Perjanjian ini (termasuk klaim dalam kontrak, kerugian, kewajiban yang ketat, kewajiban hukum, atau klaim lainnya) harus diselesaikan secara eksklusif oleh pengadilan yang berwenang, federal atau negara , yang terletak di Chicago, Illinois, dan tidak ada pengadilan lainnya. Masing-masing pihak setuju untuk tunduk pada yurisdiksi pribadi dari pengadilan tersebut dan menerima layanan proses dari mereka.</dd>
          <dd class="ds-text"><strong>11.3 Penugasan.</strong> Semua atau salah satu dari PT Garuda Indonesia (Persero), Tbk hak dan kewajiban berdasarkan Perjanjian ini dapat ditugaskan untuk pemilik berikutnya atau operator dari Layanan dalam, akuisisi merger penjualan, atau seluruh atau sebagian dari PT Garuda Indonesia (Persero), Tbk aset.. Anda tidak boleh memberikan atau mentransfer Perjanjian ini atau salah satu atau semua hak berdasarkan perjanjian Anda, tanpa persetujuan tertulis terlebih dahulu dari PT Garuda Indonesia (Persero), Tbk., Dan setiap usaha untuk melakukannya adalah batal.</dd>
          <dd class="ds-text"><strong>11. 4 Seluruh Perjanjian; Tidak ada Pengabaian.</strong> Perjanjian ini (yang meliputi Kebijakan Privasi dan peraturan lainnya yang dipasang di Situs) merupakan keseluruhan perjanjian antara Anda dan PT Garuda Indonesia (Persero), Tbk. mengenai penggunaan Layanan. Kegagalan PT Garuda Indonesia (Persero), Tbk. Untuk menjalankan atau menerapkan hak atau ketentuan Perjanjian ini tidak akan beroperasi sebagai diabaikannya hak atau ketentuan tersebut. Judul pasal dalam Perjanjian ini adalah untuk memudahkan dan tidak memiliki pengaruh hukum atau kontraktual. Perjanjian ini akan dipakai untuk keuntungan Anda, PT Garuda Indonesia (Persero), Tbk. dan Airline dan ahli warisnya, administrator, penerus dan penerima.</dd>

          <dd class="ds-text"><strong>11.5 Pengungkapan.</strong> Di bawah Bagian California Perdata 1789.3, Pelanggan yang merupakan penduduk dari California berhak mendapatkan informasi spesifik berikut hak-hak konsumen: Program Bantuan Pengaduan Unit Divisi Layanan Konsumen Departemen Urusan Konsumen dapat dihubungi secara tertulis pada 1020 N. Street, # 501, Sacramento, CA, 95814, atau melalui telepon di 916.445.1254. Perlindungan parental control (seperti perangkat keras komputer, perangkat lunak, atau layanan penyaringan) yang dapat membantu Anda dalam membatasi akses ke materi yang berbahaya bagi anak-anak tersedia secara komersial - lihat www.google.com/Top/Computers/Internet/Child_Safety/</dd>

          <dd class="ds-text"><strong>11.6 Hak Cipta / Informasi Merek Dagang.</strong> Copyright © 2007 - 2008, PT Garuda Indonesia (Persero), Tbk ., All rights reserved. Hak cipta, merek dagang, nama dagang, logo, dan merek layanan ("Marks") ditampilkan dalam kaitannya dengan Layanan dan di Situs adalah PT Garuda Indonesia (Persero), Tbk 's properti atau milik pihak ketiga lainnya.. Anda tidak diizinkan untuk menggunakan Marks tanpa PT Garuda Indonesia (Persero), Tbk 's persetujuan tertulis atau persetujuan dari pihak ketiga seperti yang mungkin memiliki Marks.</dd>

          <dd class="ds-text"><strong>11.7 Amandemen.</strong> Kami dapat mengubah Perjanjian ini dari waktu ke waktu. Jika kami membuat perubahan penting terhadap Perjanjian, kami akan memberitahu Anda dengan mengirimkan email ke alamat email yang ditentukan dalam Akun Anda. Anda setuju bahwa Perjanjian diubah tersebut akan berlaku efektif tiga puluh (30) hari setelah dikirim kepada Anda, dan terus menggunakan Layanan ini setelah waktu itu akan merupakan penerimaan Anda dari Perjanjian diubah.</dd>

          <dd class="ds-text"><strong>11.8 Pemberitahuan.</strong> PT Garuda Indonesia (Persero), Tbk. dapat memberikan pemberitahuan hukum kepada Anda melalui pemberitahuan umum dalam Layanan, surat elektronik ke alamat email Anda pada catatan kami untuk Akun Anda, atau dengan komunikasi tertulis dikirim melalui pos kelas satu, perangko prabayar, atau kurir semalam ke alamat Anda pada catatan Akun untuk Anda. Semua pemberitahuan hukum yang diberikan oleh Anda akan dikirim ke: PT Garuda Indonesia (Persero), Tbk</dd>
        </dl>
  </div>
</section>

<!-- Terms And Conditions -->